<form (onSubmit)="sendPasswordTrans()" #formPassword2="ngForm">
    <div class="row">
        <div class="col l4 m12 s12 " *ngIf=" display == 1 ">
            <md-input-container class="full-width">
                <input mdInput type="password" id="o" placeholder="Contraseña Anterior" name="oldPassword" class="full-width" [(ngModel)]="oldPassword" pattern="[\w+'!#$%&*+-.=?^_{|}~]{10,}" required>
            </md-input-container>
        </div>
        <div class="col s12 m12 " [ngClass]="{
         'l6': display != 1,
          'l4': display == 1
        }">
            <md-input-container class="full-width">
                <input mdInput type="password" id="n" placeholder="Nueva Contraseña" name="newPassword" class="full-width" [(ngModel)]="newPassword" pattern="[\w+'!#$%&*+-.=?^_{|}~]{10,}" required>
            </md-input-container>
        </div>

        <div class="col s12 m4 " [ngClass]="{
         'l6': display != 1,
          'l4': display == 1
        }">
            <md-input-container class="full-width">
                <input mdInput type="password" id="nv" placeholder="Confirmar Contraseña" [(ngModel)] = "confirmPassword" name="confirmPassword" class="full-width" pattern="[\w+'!#$%&*+-.=?^_{|}~]{10,}" required>
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="notes col l12 ">
            <span class="bold">Nota: </span>Podras utilizar esta contraseña para todas tus transacciones dentro del backoffice.
            <BR> Por seguridad, debe de ser diferente a tu contraseña de inico de sesion y a tu contraseña de juegos y apps
        </div>
        <div class="notes col l12 ">
            <span class="bold">OBS: </span>La contraseña de transacciones debe contener minimo 7 caracteres y debe contener MINUSCULAS, MAYUSCULAS, un NUMERO y un PUNTO
        </div>
        <div class="col l12 s12 m12 flex-center">
            <div class="captcha">
                <re-captcha name="captcha" required siteKey="6Ld_BBsUAAAAAJy1JCc7XWRQqESzar5Dkn8Rxt9W"></re-captcha>
            </div>
        </div>
        <div class="col l12 m2 m12 s12">
            <div class="input-field flex-center ">
                <input type="submit" (click)="sendPassword()" [disabled]="!formPassword2.form.valid" class="waves-effect white-text waves-light mat-raised-button btn pink darken-3" value="Actualizar" />
            </div>
        </div>
    </div>
</form>
