<div class="container-fluid row">
    <div class="col s12 m12 l12">
        <i class="fa fa-book" aria-hidden="true"></i> Sistema de educación merlim network
    </div>
    <hr>
    <div class="col s12 m12 l12">
        <img src="https://merlim-static.s3.amazonaws.com/static-images/banner-04.jpg" class="full-width" />
    </div>
    <div class="col l8 m12 s12 offset-l2">
        <div class="row-flex">
            <a md-raised-button class="btn waves-effect waves-light pink darken-3 white-text " routerLink="">Module 1</a>
            <a md-raised-button class="btn waves-effect waves-light back-white  border-back  back-text border-blu " routerLink="">Module 1</a>
            <a md-raised-button class="btn waves-effect waves-light back-white  border-back  back-text border-blu " routerLink="">Module 1</a>
            <a md-raised-button class="btn waves-effect waves-light back-white  border-back  back-text border-blu " routerLink="">Module 1</a>
        </div>
    </div>
    <div class="col s12 l12 m12>">
        <div class="flex-center center-align font-1-5 back-text">
            Cómo &nbsp; <span class="bold"> administrar</span> &nbsp; tu negocio
        </div>
    </div>
    <div class="col s12 m12 l10 offset-l1">
        <div class="row not-m-p">
            <div class="col l6 s12 m12 collection no-border">
                <div class="collection-item">
                    Material
                </div>
                <div class="collection-item flex ">
                    <div class="width-50 margin-right-20 valign-wrapper ">
                        <img src="https://merlim-static.s3.amazonaws.com/static-images/icons/pdf-icon.png" class="min-width-icons full-width" alt="" />
                    </div>
                    <div class="back-text not-m margin-right-20">
                        <span class="bold">Cómo inscribirse</span>
                        <p class="not-m">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno</p>
                    </div>
                    <div class="width-50 valign-wrapper">
                        <img src="https://merlim-static.s3.amazonaws.com/static-images/icons/download-icon.png" class="min-width-icons full-width" alt="" />
                    </div>
                </div>
                <div class="collection-item flex">
                    <div class="width-50 margin-right-20 valign-wrapper">
                        <img src="https://merlim-static.s3.amazonaws.com/static-images/icons/pdf-icon.png" class="full-width min-width-icons" alt="" />
                    </div>
                    <div class="back-text not-m margin-right-20">
                        <span class="bold">Cómo inscribirse</span>
                        <p class="not-m">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno</p>
                    </div>
                    <div class="width-50 valign-wrapper">
                        <img src="https://merlim-static.s3.amazonaws.com/static-images/icons/download-icon.png" class="full-width min-width-icons" alt="" />
                    </div>
                </div>
                <div class="collection-item flex">
                    <div class="width-50 margin-right-20 valign-wrapper">
                        <img src="https://merlim-static.s3.amazonaws.com/static-images/icons/pdf-icon.png" class="full-width min-width-icons" alt="" />
                    </div>
                    <div class="back-text not-m margin-right-20">
                        <span class="bold">Cómo inscribirse</span>
                        <p class="not-m">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno</p>
                    </div>
                    <div class="width-50 valign-wrapper">
                        <img src="https://merlim-static.s3.amazonaws.com/static-images/icons/download-icon.png" class="full-width min-width-icons" alt="" />
                    </div>
                </div>
                <div class="collection-item flex">
                    <div class="width-50 margin-right-20 valign-wrapper">
                        <img src="https://merlim-static.s3.amazonaws.com/static-images/icons/pdf-icon.png" class="full-width min-width-icons" alt="" />
                    </div>
                    <div class="back-text not-m margin-right-20">
                        <span class="bold">Cómo inscribirse</span>
                        <p class="not-m">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno</p>
                    </div>
                    <div class="width-50 valign-wrapper">
                        <img src="https://merlim-static.s3.amazonaws.com/static-images/icons/download-icon.png" class="full-width min-width-icons" alt="" />
                    </div>
                </div>
            </div>
            <div class="col l6 s12 m12 collection no-border">
                <div class="collection-item">
                    Tutoriales
                </div>
                <div class="collection-item flex">
                    <div class="width-50 margin-right-20 valign-wrapper">
                        <img src="https://merlim-static.s3.amazonaws.com/static-images/icons/video-icon.png" class="full-width min-width-icons" alt="" />
                    </div>
                    <div class="back-text not-m margin-right-20">
                        <span class="bold">Cómo registrarse</span>
                        <p class="not-m">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno</p>
                    </div>
                    <div class="width-50 valign-wrapper">
                        <img src="https://merlim-static.s3.amazonaws.com/static-images/icons/youtube-icon.png" class="full-width min-width-icons" alt="" />
                    </div>
                </div>
                <div class="collection-item flex">
                    <div class="width-50 margin-right-20 valign-wrapper">
                        <img src="https://merlim-static.s3.amazonaws.com/static-images/icons/video-icon.png" class="full-width min-width-icons" alt="" />
                    </div>
                    <div class="back-text not-m margin-right-20">
                        <span class="bold">Cómo registrarse</span>
                        <p class="not-m">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno</p>
                    </div>
                    <div class="width-50 valign-wrapper">
                        <img src="https://merlim-static.s3.amazonaws.com/static-images/icons/youtube-icon.png" class="full-width min-width-icons" alt="" />
                    </div>
                </div>
                <div class="collection-item flex">
                    <div class="width-50 margin-right-20 valign-wrapper">
                        <img src="https://merlim-static.s3.amazonaws.com/static-images/icons/video-icon.png" class="full-width min-width-icons" alt="" />
                    </div>
                    <div class="back-text not-m margin-right-20">
                        <span class="bold">Cómo registrarse</span>
                        <p class="not-m">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno</p>
                    </div>
                    <div class="width-50 valign-wrapper">
                        <img src="https://merlim-static.s3.amazonaws.com/static-images/icons/youtube-icon.png" class="full-width min-width-icons" alt="" />
                    </div>
                </div>
                <div class="collection-item flex">
                    <div class="width-50 margin-right-20 valign-wrapper">
                        <img src="https://merlim-static.s3.amazonaws.com/static-images/icons/video-icon.png" class="full-width min-width-icons" alt="" />
                    </div>
                    <div class="back-text not-m margin-right-20">
                        <span class="bold">Cómo registrarse</span>
                        <p class="not-m">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno</p>
                    </div>
                    <div class="width-50 valign-wrapper">
                        <img src="https://merlim-static.s3.amazonaws.com/static-images/icons/youtube-icon.png" class="full-width min-width-icons" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>