<div class="container-fluid ">
    <div class="row">
        <div class="col-12">
            <h3>
                {{ "Commissions.title" | translate }}
            </h3>
        </div>
        <div class="col-1">
            <button class="btn btn btn-default">bottom</button>
        </div>
    </div>
    <hr>
</div>
<div class="row">
    <div class="col l6 s12 m12">
        <app-daily-earning></app-daily-earning>
    </div>
    <div class="col l6 s12 m12">
        <app-commission-history></app-commission-history>
    </div>
    <div class="col l12 s12 m12">
        <app-transactions-history></app-transactions-history>
    </div>
</div>