<div class="collection not-p">
    <div class="collection-item">
        Comentarios
    </div>
    <div class="comments collection-item" style="height:320px">
        <div class="full-widt flex">
            <div class="width-50 margin-right-20">
                <img class="min-width-icons full-width border-pink" src="https://dz04nrj2p7z7c.cloudfront.net/sources/members/imagenes/avatars/AVATAR1.png" />
            </div>
            <div class="font-size-0-9">
                vamos a correr carajo vamos nojoda nojoda vamos vamos nojodao
            </div>
        </div>
        <div class="full-widt flex">
            <div class="width-50 margin-right-20">
                <img class="min-width-icons full-width border-pink" src="https://dz04nrj2p7z7c.cloudfront.net/sources/members/imagenes/avatars/AVATAR1.png" />
            </div>
            <div class="font-size-0-9">
                vamos a correr carajo vamos nojoda nojoda vamos vamos nojodao
            </div>
        </div>
        <div class="full-widt flex">
            <div class="width-50 margin-right-20">
                <img class="min-width-icons full-width border-pink" src="https://dz04nrj2p7z7c.cloudfront.net/sources/members/imagenes/avatars/AVATAR1.png" />
            </div>
            <div class="font-size-0-9">
                vamos a correr carajo vamos nojoda nojoda vamos vamos nojodao
            </div>
        </div>
        <div class="full-widt flex">
            <div class="width-50 margin-right-20">
                <img class="min-width-icons full-width border-pink" src="https://dz04nrj2p7z7c.cloudfront.net/sources/members/imagenes/avatars/AVATAR1.png" />
            </div>
            <div class="font-size-0-9">
                vamos a correr carajo vamos nojoda nojoda vamos vamos nojodao
            </div>
        </div>
        <div class="full-widt flex">
            <div class="width-50 margin-right-20">
                <img class="min-width-icons full-width border-pink" src="https://dz04nrj2p7z7c.cloudfront.net/sources/members/imagenes/avatars/AVATAR1.png" />
            </div>
            <div class="font-size-0-9">
                vamos a correr carajo vamos nojoda nojoda vamos vamos nojodao
            </div>
        </div>
    </div>
    <div class="collection-item ">
        <div class="row not-m valign-wrapper">
            <div class="col l10 s10 m10">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Type message">
                </md-input-container>
            </div>
            <div class="col l2 m2 s2">
                <div class="add full-width valign-wrapper"><i class="fa font-1-9 fa-plus-square  pink-text text-darken-3" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>
</div>