<div class="row">
    <div class="flex-center">
        <div class="col s12 l6 m12">
            <ul class="collection with-header border-r15">
                <li class="collection-header white-text pink darken-3 center-align">
                    <h4>{{ "Register.title3" | translate }}</h4>
                </li>
                <li class="collection-item">
                    <div class="row-flex">
                        <div class=" center-align"><img style="cursor: pointer;" src="https://merlim.network/merlim-copia/pages/assets/img/pay3.png" alt="boton epin" (click)="Epin()"><br><br></div>
                        <div class=" center-align"><img style="cursor: pointer;" src="https://merlim.network/merlim-copia/pages/assets/img/bitcoin.png" alt="boton bitcoin"><br><br></div>
                        <div class=" center-align"><img style="cursor: pointer;" src="https://merlim-static.s3.amazonaws.com/merlim-copia/pages/assets/img/payphone.png" alt="boton payphone"><br><br></div>
                        <div class=" center-align"><img style="cursor: pointer;" src="https://dz04nrj2p7z7c.cloudfront.net/merlim-copia/pages/assets/img/pay4_en.png" alt="boton bank deposit"><br><br></div>
                        <div class=" center-align"><img style="cursor: pointer;" src="https://merlim-static.s3.amazonaws.com/img/areto/areto_systems.png" alt="boton bank deposit" (click)="Areto()"><br><br></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>