#content-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    min-width: 400px;
}

.content-logo {
    margin-bottom: 50px;
}

.content-logo img {
    margin-right: 8px;
    width: 250px;
}
