<div class="container" id="content-form">
	<div class="content-logo flex-center">
        <img src="http://merlim-static.s3.amazonaws.com/backoffice3-assets/img/logo-backoffice3.png" alt="Logo merlim">
    </div>
	<ul class="collection with-header center-align border-r15">
		<li class="collection-header pink darken-3 white-text">
			<h4>{{ "RecoverPassword.title" | translate }}</h4>
		</li>
		<li class="collection-item">
			<app-form-validate-email [input]="user" [iur]="true" [ibr]="true" (validate_proccess)="sendValidate($event)" *ngIf="code == undefined"></app-form-validate-email>
			<app-form-recover-password [input]="user" (validate_password)="sendNewPassword($event)" *ngIf="code != undefined"></app-form-recover-password>
		</li>
	</ul>
	<div class="lang center-align">
		<a (click)="langChange('es')" style="cursor: pointer">
			<img src="https://merlim-static.s3.amazonaws.com/backoffice3-assets/img/es_ES.png" height="40" alt="idioma español">
		</a> |
		<a (click)="langChange('en')" style="cursor: pointer">
			<img src="https://merlim-static.s3.amazonaws.com/backoffice3-assets/img/en_US.png" height="40" alt="idioma ingles">
		</a>
	</div>
</div>
