<div class="container-fluid">
    <div class="row">
        <div class="col l11">
            <h3>
                {{ "Profile.title" | translate }}
            </h3>
        </div>
        <div class="col l1">
            <button class="btn btn-block btn-default">bottom</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col xl3 s12 m12">
            <app-data-general [user]='user' (general_event)="getGeneralWidth($event)"></app-data-general>
        </div>
        <div class="col xl6 s12 m12">
            <app-customize-avatar></app-customize-avatar>
            <app-documentation></app-documentation>
            <app-contact-profile [user]='user'></app-contact-profile>
        </div>
        <div class="col xl3 s12 m12">
            <app-manage-passwords></app-manage-passwords>
        </div>
    </div>
</div>