/* Backoffice //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/*
 * barra lateral -------------------------------------------------------------------------------------------------------
 */

.navbar-menu-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #31373F;
    z-index: 1;
    transition: left 0.3s;
}


/* cuadro rojo que dice backoffice */

.navbar-menu-left .title {
    width: 100%;
    height: 50px;
    background-color: #b90000;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    color: white;
}


/* area del perfil del usuario */

.navbar-menu-left .widget-profile {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-color: #ebebeb;
    text-align: center;
    background-image: url("https://merlim-static.s3.amazonaws.com/static-images/ranges/Ranges-back/Back-profile.png");
    background-repeat: no-repeat;
}

.navbar-menu-left .widget-profile>div {
    height: auto;
    line-height: normal;
}

.navbar-menu-left .widget-profile>div>img {
    height: 100px;
    border-radius: 100%;
}


/* menu */

.menu-left {
    border: none !important;
    margin-top: 0;
    border-radius: 0;
}

.menu-left .collection-item {
    background-color: #31373f !important;
    border-bottom: 1px solid #31373f !important;
    color: #ffffff !important;
}

.menu-left .collection-item:hover {
    background-color: #ffffff !important;
    border-bottom: 1px solid #31373f !important;
    color: #000000 !important;
}

.menu-left .collection-item.active {
    background-color: #ffffff !important;
    border-bottom: 1px solid #31373f !important;
    color: #000000 !important;
}


/*
 * fin de la barra lateral ---------------------------------------------------------------------------------------------
 */


/*
 * barra superior ------------------------------------------------------------------------------------------------------
 */

.navbar-menu-top {
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    height: 50px;
    background-color: #31373F;
    transition: left 0.3s;
}


/* logo */

.navbar-menu-top .left-logo {
    height: 50px;
    padding: 5px;
    float: left;
}

.navbar-menu-top .left-logo img {
    height: 40px;
}


/* menu superior */

.navbar-menu-top .menu-right {
    list-style: none;
    float: right;
    margin: 0px;
}

.navbar-menu-top .menu-right li {
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    float: left;
    color: white;
    line-height: 50px;
    cursor: pointer;
}

.navbar-menu-top .menu-right li:hover {
    background-color: #0a0a15;
}

.navbar-menu-top .menu-right a.desktop-hidden {
    display: none;
}

@media screen and (max-width: 1220px) {
    .navbar-menu-left {
        left: -250px;
    }
    .navbar-menu-left.active {
        left: 0;
    }
    .navbar-menu-top {
        left: 0;
    }
    .custom-content {
        left: 0;
    }
    .navbar-menu-top .menu-right a.desktop-hidden {
        display: block;
    }
    .navbar-menu-top .menu-right a.movil-hidden {
        display: none;
    }
}


/*
 * fin de la barra superior --------------------------------------------------------------------------------------------
 */

.custom-content {
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 250px;
    right: 0;
    padding: 15px;
    background-size: cover;
    background-color: #ededed;
    transition: left 0.3s;
}