<nav id="navbar-left" class="navbar-menu-left">
    <div class="title pink darken-3">
        BACKOFFICE
    </div>

    <div class="widget-profile">
        <div>
            <img src="https://dz04nrj2p7z7c.cloudfront.net/sources/members/{{user.avatar}}" class="border-back1" style="width:100px; " />
            <div class="back-text">{{user.username}}</div>
            <br>
            <div>
                <a style="cursor: pointer" (click)="LangChange('es')"><img src="https://merlim-static.s3.amazonaws.com/backoffice3-assets/img/es_ES.png" height="30" alt="idioma español"></a> |
                <a style="cursor: pointer" (click)="LangChange('en')"><img src="https://merlim-static.s3.amazonaws.com/backoffice3-assets/img/en_US.png" height="30" alt="idioma ingles"></a>
            </div>
        </div>
    </div>
    <div class="collection menu-left">
        <a class="collection-item" routerLinkActive="active" routerLink="/backoffice/home" (click)="MenuActive()">{{ "Menu.home" | translate }}</a>
        <a class="collection-item" routerLinkActive="active" routerLink="/backoffice/profile" (click)="MenuActive()">{{"Menu.profile" | translate}}</a>
        <a class="collection-item" routerLinkActive="active" routerLink="/backoffice/merlinlife" (click)="MenuActive()">{{"Menu.merlinlife" | translate}}</a>
        <a class="collection-item" routerLinkActive="active" routerLink="/backoffice/commissions" (click)="MenuActive()">{{"Menu.commissions" | translate}}</a>
        <a class="collection-item" routerLinkActive="active" routerLink="/backoffice/binary" (click)="MenuActive()">{{"Menu.binary" | translate}}</a>
        <a class="collection-item" routerLinkActive="active" routerLink="/backoffice/unilevel" (click)="MenuActive()">{{"Menu.unilevel" | translate}}</a>
        <a class="collection-item" routerLinkActive="active" routerLink="/backoffice/downline" (click)="MenuActive()">{{"Menu.downline" | translate}}</a>
        <a class="collection-item" routerLinkActive="active" routerLink="/backoffice/support" (click)="MenuActive()">{{"Menu.support" | translate}}</a>
        <a class="collection-item" routerLinkActive="active" (click)="Logout()">{{"Menu.logout" | translate}}</a>
    </div>
</nav>

<header class="navbar-menu-top">
    <div class="left-logo">
        <!--<img src="/assets/img/logo-navbar-top.png" alt="logo">-->
    </div>

    <ul class="menu-right">
        <a onclick="document.getElementById('navbar-left').classList.toggle('active');" class="desktop-hidden">
            <li><i class="fa fa-bars" aria-hidden="true"></i></li>
        </a>
        <a routerLink="/backoffice" class="movil-hidden">
            <li>{{"Menu.home" | translate}}</li>
        </a>
        <a (click)="Logout()" class="movil-hidden">
            <li>{{"Menu.logout" | translate}}</li>
        </a>
    </ul>
</header>

<div class="custom-content" m style="background-image:url('http://merlim-static.s3.amazonaws.com/static-images/ranges/Ranges-back/fondo-15.png');">
    <router-outlet></router-outlet>
</div>