.collection-item {
    padding-left: 20px !important;
}

.col {
    padding: 0;
}

.item-comissions {
    font-size: 17px;
}

.item-comissions img {
    width: 60px;
}

.value {
    line-height: 60px;
    font-size: 18px;
}

.value span {
    font-size: 24px;
}
