<div class="collection  with-header">
    <div class="collection-item bold">
        {{"Commissions.widget-titles.comisions" | translate}}
    </div>
    <div class="collection-item">
        <div class="row nomargin">
            <div class="col s6 nomargin">
                <div class="vertical-align item-comissions">
                    <img src="https://merlim-static.s3.amazonaws.com/static-images/cuadros-09.jpg" /> &nbsp;&nbsp; {{"Commissions.points" | translate}} &nbsp;&nbsp; <span class="text-bold ">{{"Commissions.binary" | translate}}</span>
                </div>
            </div>
            <div class="col s6 right-align nomargin value">
                USD <span class="bold">$12,345</span>
            </div>
        </div>
    </div>
    <div class="collection-item">
        <div class="row nomargin">
            <div class="col s6 nomargin">
                <div class="vertical-align item-comissions">
                    <img src="https://merlim-static.s3.amazonaws.com/static-images/cuadros-08.jpg" /> &nbsp;&nbsp; {{"Commissions.total" | translate}} &nbsp;&nbsp;<span class="text-bold ">{{"Commissions.comisions" | translate}}</span>
                </div>
            </div>
            <div class="col s6 right-align nomargin value">
                USD <span class="bold">$12,345</span>
            </div>
        </div>
    </div>
    <div class="collection-item">
        <div class="row nomargin">
            <div class="col s6 nomargin">
                <div class="vertical-align item-comissions">
                    <img src="https://merlim-static.s3.amazonaws.com/static-images/cuadros-07.jpg" /> &nbsp;&nbsp; {{"Commissions.balance" | translate}}&nbsp;&nbsp; <span class="text-bold ">{{"Commissions.available" | translate}}</span>
                </div>
            </div>
            <div class="col s6 right-align nomargin value">
                USD <span class="bold">$12,345</span>
            </div>
        </div>
    </div>
</div>
<app-merlimlife-widgets></app-merlimlife-widgets>