.header {
    position: relative;
    width: 100%;
    height: 80px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header .username {
    position: absolute;
    top: 5px;
    left: 15px;
    color: #ffffff;
}

.header .user-image {
    overflow: hidden;
    position: absolute;
    width: 70px;
    height: 70px;
    left: 50%;
    bottom: -25px;
    margin-left: -35px;
    border: solid #ffffff 2px;
    border-radius: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

.header .user-image img {
    width: auto;
    height: 100%;
}

.header .range {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 0px;
    border-radius: 100%;
}

.border {
    border: 1px solid #eee;
    height: 75px;
    padding-bottom: 80px;
}

.mat-radio-label {
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;
    white-space: nowrap !important;
    flex-direction: column !important;
}

.slide-direction {
    flex-direction: column;
}

.pts {
    font-size: 21px;
}

.pts span {
    color: #31373F;
}
