<ul id="widget-profile" class="collection with-header">
    <li class="collection-item bold">
        {{ "Profile.widget-titles.profile" | translate }}
    </li>
    <li class="collection-item" [ngStyle]="{
        'background-image': 'url(https://merlim-static.s3.amazonaws.com/static-images/ranges/Ranges-back/background.jpg)',
        'background-size': 'cover'
    }">
        <div class="header">
            <label class="username bold" style="font-size:18px;">
                {{ user.firstname }} {{ user.lastname}}
                <p class="not-m" [ngStyle]="{
                    'font-size': '0.7em' }">
                    {{user.username}}
                </p>
            </label>
            <div class="user-image">
                <img class="full-width" src="{{ 'https://dz04nrj2p7z7c.cloudfront.net/sources/members/' + user.avatar }}" alt="User">
            </div>
            <img class="range" src="{{ 'http://merlim-static.s3.amazonaws.com/static-images/ranges/Ranges-icons/' + user.range_description + '.png' }}" alt="rango">
        </div>
    </li>
    <li class="collection-item">
        <div class="row nomargin" style=" margin-top: -9px !important;">
            <div class="col s4 center-align nomargin">
                <p class="pts">
                    <small>{{ "Profile.left" | translate }}</small>
                    <span class="bold"><br>1,200 {{ "Profile.points" | translate }}</span>
                </p>
            </div>
            <div class="col s4 center-align nomargin">
                <p class="pts">
                    <small>{{ "Profile.range" | translate }}</small>
                    <span class="bold"><br>{{user.range_description}}</span>
                </p>
            </div>
            <div class="col s4 center-align nomargin">
                <p class="pts">
                    <small>{{ "Profile.right" | translate }}</small>
                    <span class="bold"><br>2,100 {{ "Profile.points" | translate }}</span>
                </p>
            </div>
        </div>
    </li>
    <li class="collection-item">
        <div class="row nomargin">
            <div class="col " [ngClass]="{'s12': window_data.width <=390,
                's7': window_data.width <= 500,
                's8': window_data.width >= 501
                 }">
                <div class="color-secundario bold">{{ "Profile.reference-url" | translate }}</div>
                <div id="url-user-affiliate" class="back-text">merlim.network/merlim9</div>
            </div>
            <div class="flex-box col" [ngClass]="{
                's12': window_data.width <=390,
                's5': window_data.width <= 500,
                's4': window_data.width >= 501
                }">
                <button md-raised-button (click)="CopyToClipboard('url-user-affiliate')" class="pink darken-3 white-text btn-block">{{ "Profile.copy-url" | translate }}</button>
            </div>
        </div>

    </li>
    <li class="collection-item">
        <div class="row nomargin">
            <div class="col" [ngClass]="{
                's12': window_data.width <=390,
                's7': window_data.width <= 500,
                's8': window_data.width >= 501
                }">
                <div class="color-secundario bold">{{ "Profile.afiliate-code" | translate }}</div>
                <div id="code-user-afilliate" class="back-text">{{user.afiliate_code}}</div>
            </div>
            <div class=" flex-box col" [ngClass]="{
                's12': window_data.width <=390,
                's5': window_data.width <= 500,
                's4': window_data.width >= 501
                }">
                <button md-raised-button (click)="CopyToClipboard('code-user-afilliate')" class="pink darken-3 white-text btn-block">{{ "Profile.copy-code" | translate }}</button>
            </div>
        </div>
    </li>
    <li class="collection-item">
        <div class="row nomargin">
            <div class="col" [ngClass]="{
                's12': window_data.width <=390,
                's7': window_data.width <= 500,
                's8': window_data.width >= 501
                }">
                <div class="color-secundario bold">{{ "Profile.sales_code" | translate }}</div>
                <div id="sales-code" class="back-text">{{user.sales_code}}</div>
            </div>
            <div class=" flex-box col" [ngClass]="{
                's12': window_data.width <=390,
                's5': window_data.width <= 500,
                's4': window_data.width >= 501
                }">
                <button md-raised-button (click)="CopyToClipboard('sales-code')" class="pink darken-3 white-text btn-block">{{ "Profile.copy-code" | translate }}</button>
            </div>
        </div>
    </li>
    <li class="collection-item">
        <div class="row nomargin">
            <div class="col center-align" [ngClass]="{
                's12': window_data.width <=390,
                's6': window_data.width <= 500,
                's4': window_data.width >= 501
                }">
                <div class="back-text">{{ "Profile.range-points" | translate }}</div>
                <div class="color-secundario bold">5,200 {{ "Profile.points" | translate }}</div>
            </div>
            <div class="col center-align" [ngClass]="{
                's12': window_data.width <=390,
                's6': window_data.width <= 500,
                's4': window_data.width >= 501
                }">
                <div class="back-text">{{ "Profile.afiliate-level" | translate }}</div>
                <div class="color-secundario bold">{{ "Profile.premiun" | translate }}</div>
            </div>
            <div class=" flex-box col" [ngClass]="{
                's12': window_data.width <=390,
                's12': window_data.width <= 500,
                's4': window_data.width >= 501
                }">
                <button md-raised-button (click)="openDialog()" class="teal darken-1 btn btn-block white-text">{{ "Profile.upgrade" | translate }}</button>
            </div>
        </div>
    </li>
    <li class="collection-item ">
        <form>
            <div class="row nomargin nopadding flex">
                <div class="flex-center full-width">
                    <md-radio-group [(ngModel)]="user.leg" class="full-width" name="option">
                        <div class="row">
                            <div class="col l4 m4 s4 border-light valign-wrapper height-op">
                                <div class="full-width">
                                    <div class="center">
                                        <md-radio-button class="center" value="izq">
                                        </md-radio-button>
                                    </div>
                                    <p class="not-m center-align">{{"Profile.left" | translate}}</p>
                                </div>
                            </div>
                            <div class="col l4 m4 s4 border-light valign-wrapper height-op">
                                <div class="full-width">
                                    <div class="center">
                                        <md-radio-button class="center" value="equ">
                                        </md-radio-button>
                                    </div>
                                    <p class="not-m center-align">{{"Profile.balance" | translate}}</p>
                                </div>
                            </div>
                            <div class="col l4 m4 s4 border-light valign-wrapper height-op">
                                <div class="full-width">
                                    <div class="center">
                                        <md-radio-button class="center" value="der">
                                        </md-radio-button>
                                    </div>
                                    <p class="not-m center-align">{{"Profile.right" | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </md-radio-group>
                </div>
            </div>
            <div class="footer center-align" style="margin-top: 16px; margin-bottom: 10px;">
                <button (click)="UpdateDirects()" md-raised-button class="pink darken-3 white-text">{{ "General.save" | translate }}</button>
            </div>
        </form>
    </li>
</ul>