<div class="collection container-fluid">
    <div class="collection-item">
        Historial de Comisiones
    </div>
    <div class="collection-item">
        <md-tab-group>
            <md-tab label="Historial de Comisiones">
                <div class="row">
                    <div class="col l12">
                        <div class="container-fluid">
                            <div class="col s12 m12 l12">
                                <div class="row">
                                    <div class="col-xs-2 options">
                                        Show
                                        <select class=" input-sm" [(ngModel)]="rowsOnPage">
                                            <option [ngValue]="5">5</option>
                                            <option [ngValue]="10">10</option>
                                            <option [ngValue]="20">20</option>
                                        </select> entries
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <table class="table" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                                        <thead class="thead">
                                            <tr>
                                                <th class="blu">
                                                    <mfDefaultSorter by="paquetenegocios">Paquetes de Negocios</mfDefaultSorter>
                                                </th>
                                                <th class="gren">
                                                    <mfDefaultSorter by="bonoequilibrio">Bono de Equilibrio </mfDefaultSorter>
                                                </th>
                                                <th class="blu">
                                                    <mfDefaultSorter by="ventasdirectas">Ventas Directas</mfDefaultSorter>
                                                </th>
                                                <th class="gren">
                                                    <mfDefaultSorter by="volventas">Vol. Ventas</mfDefaultSorter>
                                                </th>
                                                <th class="blu">
                                                    <mfDefaultSorter by="bononegocios">Bono de Negocios</mfDefaultSorter>
                                                </th>
                                                <th class="gren">
                                                    <mfDefaultSorter by="bonoliderazgo">Bono de Liderezgo</mfDefaultSorter>
                                                </th>
                                                <th class="blu">
                                                    <mfDefaultSorter by="total">Total</mfDefaultSorter>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of mf.data">
                                                <td>{{item.paquetenegocios}}</td>
                                                <td>{{item.bonoequilibrio}}</td>
                                                <td>{{item.ventasdirectas}}</td>
                                                <td>{{item.volventas }}</td>
                                                <td>{{item.bononegocios}}</td>
                                                <td>{{item.bonoliderazgo}}</td>
                                                <td>{{item.total }}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="5">
                                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-tab>
        </md-tab-group>
    </div>
</div>