<form (ngSubmit)="onSubmit()">
    <div class="card">
        <div class="card-content  m-nor-border ">
            <div style="background-image: url('https://dz04nrj2p7z7c.cloudfront.net/static-images/ranges/fondos/Madera.png')" class="full-width content-b collection-item">
                <div class="m-img-profile center">
                    <img class="circle responsive-img" src="https://dz04nrj2p7z7c.cloudfront.net/sources/members/imagenes/avatars/AVATAR2.png" />
                </div>
            </div>
            <div class="row">
                <div class="col l6 m12 s12">
                    <div class="field_with_icon">
                        <i class="material-icons prefix-icon">person</i>
                        <md-input-container class="full-width">
                            <input mdInput class="full-width" disabled [(ngModel)]="data.firstname" name="firstname">
                        </md-input-container>
                    </div>
                </div>
                <div class="col l6 m12 s12">
                    <div class="field_with_icon">
                        <i class="material-icons prefix-icon">person</i>
                        <md-input-container class="full-width">
                            <input mdInput class="full-width" [(ngModel)]="data.lastname" name="lastname" disabled>
                        </md-input-container>
                    </div>
                </div>
                <div class="col l6 m12 s12">
                    <div class="field_with_icon">
                        <i class="material-icons prefix-icon">email</i>
                        <md-input-container class="full-width">
                            <input mdInput class="full-width" [(ngModel)]="data.email" name="email" disabled>
                        </md-input-container>
                    </div>
                </div>
                <div class="col l6 m12 s12">
                    <div class="field_with_icon">
                        <i class="material-icons prefix-icon">location_on</i>
                        <md-input-container class="full-width">
                            <input mdInput class="full-width" [(ngModel)]="data.address" name="address" placeholder="address">
                        </md-input-container>
                    </div>
                </div>
                <div class="col l6 m12 s12">
                    <div class="field_with_icon">
                        <i class="material-icons prefix-icon">location_on</i>
                        <md-input-container class="full-width">
                            <input mdInput class="full-width" [(ngModel)]="data.country" name="country" disabled>
                        </md-input-container>
                    </div>
                </div>
                <div class="col l6 m12 s12">
                    <div class="field_with_icon">
                        <i class="material-icons prefix-icon">location_on</i>
                        <md-input-container class="full-width">
                            <input mdInput class="full-width" [(ngModel)]="data.city" name="city" placeholder="city">
                        </md-input-container>
                    </div>
                </div>
                <div class="col l6 m12 s12">
                    <div class="field_with_icon">
                        <i class="fa fa-minus prefix-icon " aria-hidden="true "></i>
                        <md-input-container class="full-width">
                            <input mdInput class="full-width" disabled>
                        </md-input-container>
                    </div>
                </div>
                <div class="col l6 m12 s12 ">
                    <div class="field_with_icon ">
                        <i class="material-icons prefix-icon ">phone</i>
                        <md-input-container class="full-width ">
                            <input mdInput class="full-width " [(ngModel)]="data.phone" name="phone">
                        </md-input-container>
                    </div>
                </div>
                <div class="col l6 m12 s12 ">
                    <div class="field_with_icon ">
                        <i class="fa fa-whatsapp prefix-icon " aria-hidden="true "></i>
                        <md-input-container class="full-width ">
                            <input mdInput class="full-width " [(ngModel)]="data.whatsapp" name="whatsapp">
                        </md-input-container>
                    </div>
                </div>
                <div class="col l6 m12 s12 ">
                    <div class="field_with_icon ">
                        <i class="fa fa-skype prefix-icon " aria-hidden="true"></i>
                        <md-input-container class="full-width ">
                            <input mdInput class="full-width " [(ngModel)]="data.skype" name="skype">
                        </md-input-container>
                    </div>
                </div>
                <div class="col s12 flex-center">
                    <re-captcha name="captcha " [(ngModel)]="data.captcha " required siteKey="6Ld_BBsUAAAAAJy1JCc7XWRQqESzar5Dkn8Rxt9W "></re-captcha>
                </div>
                <div class="input-field col s12 flex-center ">
                    <button type="submit " md-raised-button class="btn waves-effect waves-light pink darken-3 white-text "><b>Guardar</b></button>
                </div>
            </div>
            <button md-button class="right" [md-dialog-close]="true">Yes</button>
        </div>
    </div>
</form>