<div class="content-documentation collection with-header">
    <div class="header-panel collection-item bold">
        {{"Profile.profile-components.documentation" | translate}}
    </div>
    <div class="content-content collection-item">
        <div class="text-explain">
            <span class="bold">{{"Profile.note" | translate}}:</span> {{"Profile.info-documentation" | translate }}
            <div class="content-document">
                <div class="content-d">
                    <div class="content-select border-light">
                        <div class="content-icon">
                            <div class="icon">
                                <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                            </div>
                            <span class="bold">{{"Profile.id-passport" | translate}}</span><br>
                            <span class="scan">{{"Profile.scanned" | translate}}</span>
                        </div>
                    </div>
                    <div class="flex-center margin-t-20">
                        <div class="btn mat-raised-button border-back back-text back-white">
                            {{"Profile.upload-img" | translate}}
                        </div>
                    </div>
                </div>
                <div class="content-d">
                    <div class="content-select border-light">
                        <div class="content-icon">
                            <div class="icon">
                                <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                            </div>
                            <span class="bold">{{"Profile.utility-bill" | translate}}</span><br>
                            <span class="scan">{{"Profile.scanned" | translate}}</span>
                        </div>
                    </div>
                    <div class="flex-center margin-t-20">
                        <div class="btn mat-raised-button border-back back-text back-white">
                            {{"Profile.upload-img" | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field flex-center margin-t-20">
                    <div class="btn mat-raised-button white-text pink darken-3 back bold">
                        {{"General.send" | translate}}
                    </div>
                </div>
            </div>
        </div>
    </div>