<div class="row">
     <div class="col l8 m12 s12 offset-l2">
         <div class="collection bold">
             <div class="collection-item">
                 <div id="title" class="title bold">
                     Preguntas de seguridad
                 </div>
                 <div class="row">
                     <div class="col m12 s12 l12  ">
                         <app-form-password-transaccions [step]="step" (event_change_password)="setstep($event)" *ngIf="step == 0">
                         </app-form-password-transaccions>
                     </div>
                     
                     <div class="col l12 m12 s12  ">
                        <app-form-password-transaccions2  [display]="state" (eventSend)="setPassword($event)" *ngIf="step == 1"></app-form-password-transaccions2>
                     </div>
                 </div>
             </div>
         </div>
     </div>
</div>
