<ul class="collection with-header content">
    <li class="collection-item bold">
        {{ "Profile.widget-titles.last-afiliates" | translate}}
    </li>
    <li class="collection-item ">
        <div id="table-afiliates" class="with-total text-bold not-p" style="height:228px">
            <table class="with-total bordered font-size-0">
                <tbody id="f">
                    <tr *ngFor="let i of last_afilliates" class="">
                        <td class="left-align padding-tb not-pa-lf">{{i.username}}</td>
                        <td *ngIf="window_data.width >= 324 "><img class="flag" src="https://merlim-static.s3.amazonaws.com/sources/members/assets/img/country/{{i.code}}.jpg" />
                            <td class="center-align">{{i.country}}</td>
                            <td class=" right-align">{{i.description_pack}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </li>
</ul>
<ul class="collection with-header">
    <li class="collection-item bold">
        {{"Profile.afiliate-location" | translate}}
    </li>
    <li class="collection-item map-content nopadding" style="background:#1485DC">
        <div id="map" class="map" style="height:286px"></div>
    </li>
</ul>