<ul class="collection border-r15">
    <li class="collection-item pink darken-3 white-text">
        <h5 class="center-align">{{ "Register.title2" | translate }}</h5>
    </li>
    <li class="collection-item">
        <!-- ruta: /src/app/forms/register/complete-register/step-one -->
        <app-form-complete-register-step-one [user]="user" (step)="next($event)" (errors)="errors($event)" *ngIf="mainstep == 1"></app-form-complete-register-step-one>
        <!-- ruta: /src/app/forms/register/complete-register/step-two -->
        <app-form-complete-register-step-two [user]="user" (step)="next($event)" (errors)="errors($event)" *ngIf="mainstep == 2"></app-form-complete-register-step-two>
        <!-- ruta: /src/app/forms/register/complete-register/step-tree -->
        <app-form-complete-register-step-tree (step)="next($event)" *ngIf="mainstep == 3"></app-form-complete-register-step-tree>
        <!-- ruta: /src/app/forms/register/complete-register/step-four -->
        <app-form-complete-register-step-four class="bold" [user]="user" (step)="next($event)" *ngIf="mainstep == 4"></app-form-complete-register-step-four>
    </li>
</ul>
