<form #formPassword1="ngForm">
    <div class="row">
        <div class="col l12 m12 s12">
            <md-select placeholder="Eligir pregunta" [(ngModel)]="selectquestion" name="question" class="full-width answer">
                <md-option *ngFor="let c of question" [value]="c.value">
                    {{c.question}}
                </md-option>
            </md-select>
        </div>
        <div class="col l12 m12 s12 ranswer">
            <md-input-container class="full-width">
                <input mdInput type="text" id="nv" placeholder="Respuesta" name="answer" required class="full-width" [(ngModel)]="answer">
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col l12 s12 m12">
            <div class="flex-center input-field">
                <input type="submit" [disabled]="!formPassword1.form.valid" class="btn waves-effect waves-light white-text mat-raised-button pink darken-3" (click)="sendstep()" value="Siguiente" />
            </div>
        </div>
    </div>
</form>