<div class="collection">
    <div class="collection-item">
        Personaliza tu sitio
    </div>
    <div class="collectiom-item not-m">
        <img src="https://merlim-static.s3.amazonaws.com/static-images/system-edu.jpg" class="full-width" />
    </div>
</div>