<form *ngIf="step === 1">
    <div class="no-border not-m-p full-width">
        <div class="collection-item not-m-p">
            <div class="flex-center">
                <p class="font-1-9 back-text not-m-p margin-t-20">
                    ¿Cuál <span class="bold"> Paquete </span> quieres adquirir ?
                </p>
            </div>
            <div class="flex margin-t-40">
                <md-radio-group [(ngModel)]="up_pack" name="up_pack">
                    <div class="pay-mhe" *ngIf="user.pack == 3 || user.pack == 2">
                        <img class="full-width" src="https://merlim-static.s3.amazonaws.com/static-images/paquete-10.png" alt="">
                        <p class="not-p back-text font-1-9 bold center-align not-m margin-t-15">
                            USD 230.00
                        </p>
                        <div class="flex-center margin-t-14">
                            <div class="">
                                <div class="example-button-row">

                                    <md-radio-button class="center" value="1">
                                    </md-radio-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pay-mhe" *ngIf="user.pack == 3">
                        <img class="full-width" src="https://merlim-static.s3.amazonaws.com/static-images/paquete-09.png" alt="">
                        <p class="not-p back-text font-1-9 bold center-align margin-t-15 not-m">
                            USD 230.00
                        </p>
                        <div class="flex-center margin-t-14">
                            <div class="">
                                <div class="example-button-row">
                                    <md-radio-button class="center" value="2">
                                    </md-radio-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-radio-group>
                <div *ngIf="user.pack == 1">
                    <p class="not-p font-size-1-5">
                        Ya tienes el packquete masl alto
                    </p>
                </div>
            </div>
            <div class="flex-center margin-t-20" *ngIf="user.pack == 3 || user.pack == 2">
                <button (click)="next()" class="pink darken-3 white-text" md-raised-button>{{"General.next" | translate}}</button>
            </div>
            <div *ngIf="user.pack == 1" class="flex-center margin-t-15">
                <button (click)="this.dialogRef.close()" class="pink darken-3 white-text" md-raised-button>Close</button>
            </div>
        </div>
    </div>
</form>

<div *ngIf="step === 2" class="full-width">
    <div class="flex-center ">
        <p class="font-1-9 back-text not-m-p margin-t-20">
            Elige el <span class="bold">medio de pago</span>
        </p>
    </div>
    <div class="flex margin-t-40">
        <md-radio-group [(ngModel)]="pay_method" name="pay_method">
            <div class="row">
                <div class="col l6 m12 s12">
                    <img src="https://merlim-static.s3.amazonaws.com/static-images/Payment-Methods/E-pin.png" alt="">
                    <div class="flex-center">
                        <div class="">
                            <div class="example-button-row">
                                <md-radio-button class="center" value="epin">
                                </md-radio-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l6 m12 s12">
                    <img src="https://merlim-static.s3.amazonaws.com/static-images/Payment-Methods/Btc.png" alt="">
                    <div class="flex-center ">
                        <div class="">
                            <div class="example-button-row">
                                <md-radio-button class="center" value="btc">
                                </md-radio-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l6 m12 s12">
                    <img src="https://merlim-static.s3.amazonaws.com/static-images/Payment-Methods/Payphone.png" alt="">
                    <div class="flex-center ">
                        <div class="">
                            <div class="example-button-row">
                                <md-radio-button class="center" value="payphone">
                                </md-radio-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l6 m12 s12">
                    <img src="https://merlim-static.s3.amazonaws.com/static-images/Payment-Methods/Deposito.png" alt="">
                    <div class="flex-center ">
                        <div class="">
                            <div class="example-button-row">
                                <md-radio-button class="center" value="bank-deposit">
                                </md-radio-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l6 m12 s12">
                    <img src="https://merlim-static.s3.amazonaws.com/static-images/Payment-Methods/Visa.png" alt="">
                    <div class="flex-center ">
                        <div class="">
                            <div class="example-button-row">
                                <md-radio-button class="center" value="credit-card">
                                </md-radio-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-radio-group>
    </div>

    <div class="flex-center margin-t-15">
        <button (click)="back()" class="left-space pink darken-3 white-text" md-raised-button>{{"General.back" | translate}}</button>
        <button (click)="paymethod()" class="left-space pink darken-3 white-text" md-raised-button>{{"General.next" | translate}}</button>
    </div>
</div>