.login-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    min-width: 320px;
}

.content-logo {
    margin-bottom: 50px;
}

.content-logo img {
    margin-right: 8px;
    width: 250px;
}

.content-shadow {
    box-shadow: 6px 5px 29px -8px rgba(0,0,0,0.42) !important;
}
