<div id="login-content" class="container">
    <div class="content-logo flex-center">
        <img src="http://merlim-static.s3.amazonaws.com/backoffice3-assets/img/logo-backoffice3.png" alt="Logo merlim">
    </div>
    <ul class="collection center-align border-r15 content-shadow login-content">
        <li class="collection-item pink darken-3">
            <h5 class="bold center-align white-text">{{ 'Login.title' | translate}}</h5>
        </li>
        <li class="collection-item">
            <app-form-login [user]="user" (login_event)="send($event)"></app-form-login>
            <p>{{ 'Login.label_register' | translate }} <a href="/register" class="pink-text text-darken-3 bold">{{ 'Login.register' | translate }}</a></p>
            <p class="bold center-align">{{"Login.label_pay" | translate}}</p>
            <a routerLink="/register/pay-method" md-raised-button class="waves-effect waves-light btn white-text pink darken-3" style="margin-top: 18px; margin-bottom: 18px;">
                {{ 'Login.button_pay' | translate }}
            </a>
        </li>
    </ul>
    <div class="lang center-align">
        <a (click)="langChange('es')" style="cursor: pointer">
            <img src="https://merlim-static.s3.amazonaws.com/backoffice3-assets/img/es_ES.png" height="40" alt="idioma español">
        </a> |
        <a (click)="langChange('en')" style="cursor: pointer">
            <img src="https://merlim-static.s3.amazonaws.com/backoffice3-assets/img/en_US.png" height="40" alt="idioma ingles">
        </a>
    </div>
</div>
