<form (ngSubmit)="Send()" #EpinForm="ngForm">
    <div class="row">
        <div class="col s12">
            <md-input-container class="full-width">
                <input mdInput type="text" placeholder="Epin code:" name="code" id="code" [(ngModel)]="epin.code" required>
            </md-input-container>
            <md-input-container class="full-width">
                <input mdInput type="text" placeholder="Epin key:" name="key" id="key" [(ngModel)]="epin.key" required>
            </md-input-container>

            <div class=" flex-center">
                <re-captcha name="captcha" [(ngModel)]="epin.captcha" required siteKey="6Ld_BBsUAAAAAJy1JCc7XWRQqESzar5Dkn8Rxt9W"></re-captcha>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="flex-center">
            <div class="">
                <button type="submit" class="pink darken-3 btn" [disabled]="!EpinForm.form.valid">Comprar</button>
            </div>
        </div>
    </div>
</form>
