<div class="container-fluid collection">
    <div class="">
        <div class="collection-item">
            My daily earning
        </div>
        <div class="collection-item ">
            <div class="row">
                <div class="col l12 m12 s12 ">
                    <div class="row-flex">
                        <div class="">
                            <div class="flex-center">
                                <img src="https://merlim-static.s3.amazonaws.com/backoffice3-assets/img/cuadros-03.png" />
                            </div>
                            <div clas="center-align column-flex">
                                <div class="center-align"> Bonificación por </div>
                                <div class="bold color-back center-align">ventas directas</div>
                                <p class=" center-align bold font-1-5">{{Comisiones.mensual}}</p>
                            </div>
                        </div>
                        <div class="">
                            <div class="flex-center">
                                <img src="https://merlim-static.s3.amazonaws.com/backoffice3-assets/img/cuadros-05.png" />
                            </div>
                            <div clas="center-align column-flex">
                                <div class="center-align">Residual</div>
                                <div class="bold color-back center-align">Mensual</div>
                                <p class=" center-align bold font-1-5">{{Comisiones.mensual}}</p>
                            </div>
                        </div>
                        <div class="">
                            <div class="flex-center">
                                <img src="https://merlim-static.s3.amazonaws.com/backoffice3-assets/img/cuadros-04.png" />
                            </div>
                            <div clas="center-align column-flex">
                                <div class="center-align">Paquete de </div>
                                <div class="bold color-back center-align">negocios</div>
                                <p class=" center-align bold font-1-5">{{Comisiones.mensual}}</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row-flex">
                        <div class="">
                            <div class="flex-center">
                                <img src="https://merlim-static.s3.amazonaws.com/backoffice3-assets/img/cuadros-05.png" />
                            </div>
                            <div clas="center-align column-flex">
                                <div class="center-align">Comisión de </div>
                                <div class="bold color-back center-align">equilibrio</div>
                                <p class=" center-align bold font-1-5">{{Comisiones.mensual}}</p>
                            </div>
                        </div>
                        <div class="">
                            <div class="flex-center">
                                <img src="https://merlim-static.s3.amazonaws.com/backoffice3-assets/img/cuadros-03.png" />
                            </div>
                            <div clas="center-align column-flex">
                                <div class="center-align">Bono de </div>
                                <div class="bold color-back center-align">Negocios</div>
                                <p class=" center-align bold font-1-5">{{Comisiones.mensual}}</p>
                            </div>
                        </div>
                        <div class="">
                            <div class="flex-center">
                                <img src="https://merlim-static.s3.amazonaws.com/backoffice3-assets/img/cuadros-05.png" />
                            </div>
                            <div clas="center-align column-flex">
                                <div class="center-align">Ganancia por </div>
                                <div class="bold color-back center-align">Liderazgo</div>
                                <p class=" center-align bold font-1-5">{{Comisiones.mensual}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col s12 m3 l3 input-field">
                    <div (click)="GetCommissions()" class="btn waves-effect waves-light white-text mat-raised-button pink darken-3">
                        Calculate Comissions
                    </div>
                </div>
                <div class="back-text col l4 offset-l5 valign-wrapper">
                    <p>
                        Current Balance <span class="bold font-1-5 not-p">USD {{Comisiones.total}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>