<div class="container-fluid">
    <div class="row content-m border-light">
        <div class="header-panel  col-12">
            Historial de Transacciones
        </div>
        <div class="col-md-12">
            <div class="col-12 first-option">
                <nav class="nav">
                  <span class="nav-link " >Historial</span>
                  <span class="nav-link" >Binary History</span>
                  <span class="nav-link"> Mis Compras</span>
                  <span class="nav-link " >Mis Ventas</span>
                </nav>
                <div class="button back">
                    Guia de uso
                </div>
            </div>
                
                <div >
                    <ul class="li">
                        <li><span class="bold">Rango: </span> Bronce</li>
                        <li><span class="bold">Puntos: </span>152545</li>
                        <li><span class="bold">Tope semanal: </span>6000</li>
                        <li><span class="bold">Puntos para oro: </span>18750</li>
                    </ul>
                </div>
                <nav class="nav">
                  <span class="nav-link activo" >History Binary New</span>
                </nav>
                <div class="row">
                    <div class="col-12">
                        <div class="container-fluid">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-2 options ">
                                        Show
                                        <select class=" input-sm" [(ngModel)]="rowsOnPage">
                                            <option [ngValue]="5">5</option>
                                            <option [ngValue]="10">10</option>
                                            <option [ngValue]="20">20</option>
                                        </select>
                                        entries
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <table class="table table-bordered" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                                        <thead class="thead">
                                              <tr>
                                                <td rowspan="2" class="blu">January</td>
                                                <td rowspan="2" class="blu">Paquete</td>
                                                <td rowspan="2" class="blu">Rango</td>
                                                <td colspan="2" class="gren">Pts actuales</td>
                                                <td colspan="2" class="gren">Numeros puntos</td>
                                                <td colspan="2" class="gren">Nuevos Balance de Puntos</td>
                                                <td colspan="2" class="gren">Pts escaladas</td>
                                                <td rowspan="2" class="blu">Total</td>
                                              </tr>
                                              <tr>
                                                  <td class="blu">Izquierda</td>
                                                  <td class="blu">Derecha</td>
                                                  <td class="blu">Izquierda</td>
                                                  <td class="blu">Derecha</td>
                                                  <td class="blu">Izquierda</td>
                                                  <td class="blu">Derecha</td>
                                                  <td class="blu">Pts. Equilibrados</td>
                                                  <td class="blu">Acumulados</td>
                                              </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of mf.data">
                                                <td>{{item.paquetenegocios}}</td>
                                                <td>{{item.bonoequilibrio}}</td>
                                                <td>{{item.ventasdirectas}}</td>
                                                <td>{{item.volventas }}</td>
                                                <td>{{item.bononegocios}}</td>
                                                <td>{{item.bonoliderazgo}}</td>
                                                <td>{{item.total }}</td>
                                            </tr>
                                        </tbody>
                                        <thead class="thead">
                                              <tr>
                                                <td rowspan="2" class="blu">January</td>
                                                <td rowspan="2" class="blu">Paquete</td>
                                                <td rowspan="2" class="blu">Rango</td>
                                                <td colspan="2" class="gren">Pts actuales</td>
                                                <td colspan="2" class="gren">Numeros puntos</td>
                                                <td colspan="2" class="gren">Nuevos Balance de Puntos</td>
                                                <td colspan="2" class="gren">Pts escaladas</td>
                                                <td rowspan="2" class="blu">Total</td>
                                              </tr>
                                              <tr>
                                                  <td class="blu">Izquierda</td>
                                                  <td class="blu">Derecha</td>
                                                  <td class="blu">Izquierda</td>
                                                  <td class="blu">Derecha</td>
                                                  <td class="blu">Izquierda</td>
                                                  <td class="blu">Derecha</td>
                                                  <td class="blu">Pts. Equilibrados</td>
                                                  <td class="blu">Acumulados</td>
                                              </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>