/* custom material */


/* COLOR */

.blue-primary {
    background-color: #131E34 !important;
}


/* GENERAL --------------------------------------------------------------------- */

.nopadding {
    padding: 0 !important;
}

.nomargin {
    margin: 0 !important;
}

.margin-18 {
    margin-top: 18px;
}

.right-space {
    margin-right: 15px !important;
}

.left-space {
    margin-left: 15px !important;
}

.full-width {
    width: 100% !important;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-vh-flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-r15 {
    border-radius: 15px;
}

.radius-left {
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

.radius-right {
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}


/* TEXT */

.bold {
    font-weight: bold;
}

body {
    min-width: 400px;
}

body.out {
    background-image: url("http://merlim-static.s3.amazonaws.com/backoffice3-assets/img/fondo/1366x768.jpg");
    background-size: cover;
    background-repeat: repeat;
}

.btn-block {
    width: 100%;
}

button {
    transition-property: all !important;
    transition-property: transform !important;
    transition-duration: 0.5s !important;
}

button:hover,
.collection:hover {
    transform: scale(1.05, 1.05);
}

.collection {
    -webkit-box-shadow: 4px 5px 12px -4px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 4px 5px 12px -4px rgba(0, 0, 0, 0.49);
    box-shadow: 4px 5px 12px -4px rgba(0, 0, 0, 0.49);
    transition-property: all !important;
    transition-property: transform !important;
    transition-duration: 0.5s !important;
}

.collection:hover {
    transform: scale(1.02, 1.02);
}


/* col-wrap extencion para las columnas de bootstrap con textos muy largos y sin espacios */

.col-wrap {
    overflow: hidden;
    overflow-wrap: break-word;
}

.captcha-size {
    width: 304px;
}

.captcha-size.center-div {
    margin: 0 auto !important;
}

.input-icon {
    margin-top: 3px;
    margin-right: 5px;
    font-size: 1.25em !important;
}


/* indicador de fortaleza */

#strength-indicator {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: -12px;
    margin-bottom: 12px;
}

#strength-indicator-captcha-size {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 304px;
    height: 10px;
    margin-top: -12px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}

#strength-indicator div,
#strength-indicator-captcha-size div {
    width: 25%;
    height: 6px;
}

#strength-indicator .radius-left,
#strength-indicator-captcha-size .radius-left {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

#strength-indicator .radius-right,
#strength-indicator-captcha-size .radius-right {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}


/*Field icon*/

.mt-0 {
    margin-top: 0px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.ml-0 {
    margin-left: 0px !important;
}

.mr-0 {
    margin-right: 0px !important;
}

.field_with_icon {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 62px;
}

.field_with_icon>.prefix-icon {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.field_with_icon>md-input-container+.prefix-icon {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.row-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column-flex {
    display: flex;
    flex-direction: column;
}

.color-white {
    color: #ffffff;
}

#terms.has-danger .mat-checkbox-frame {
    border-width: 2px;
    border-color: rgba(239, 17, 17, 0.66) !important;
}

.back-white {
    background: #ffffff !important;
}

@media screen and (max-width: 700px) {
    .m-width {
        width: 100% !important;
    }
}

.width-80 {
    width: 80%;
}

.width-50 {
    width: 50px;
}

.width-70 {
    width: 70px !important;
}

.tooltip-custom-1 {
    margin-left: -10px;
}

.font-1-5 {
    font-size: 1.5em;
}

.not-m-p {
    margin: 0 !important;
    padding: 0 !important;
}

.not-p {
    padding: 0 !important;
}

.not-m {
    margin: 0 !important;
}

.btn_alert_1 {
    width: 300px;
    margin: 0 auto !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.vertical-align {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex {
    display: flex !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.min-width-icons {
    min-width: 30px !important;
}

.font-size-0-9 {
    font-size: 0.9em !important;
}

.border-pink {
    border: 1.5px solid #ad1457;
    border-radius: 50%;
}

.border-back1 {
    border: 1.5px solid #31373F;
    border-radius: 50%;
}

.font-1-9 {
    font-size: 1.9em !important;
}

.padding-tb {
    padding-top: 30px;
    padding-bottom: 27px;
}

.height-op {
    height: 60px !important;
}

.mat-slide-toggle-bar {
    background-color: #696969 !important;
}

.mat-slide-toggle-label {
    color: #31373F !important;
}

.not-pa-lf {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.not-pa-tb {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.margin-t-20 {
    margin-top: 20px !important;
}

.avatar-dg {
    width: 70px;
}

.font-size-0-8 {
    font-size: 0.8em !important;
}

.margin-b-20 {
    margin-bottom: 20px !important;
}

.padding-b-20 {
    padding-bottom: 20px !important;
}

.font-size-1-2 {
    font-size: 1.2em !important;
}

.pay-mhe {
    max-width: 300px;
    min-width: 100px;
}

.margin-t-40 {
    margin-top: 40px !important;
}

.margin-t-15 {
    margin-top: 15px !important;
}

.margin-t-14 {
    margin-top: 14px !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #ad1457 !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #AD1456 !important;
}

mini-fab.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent {
    background-color: #e2e2e2 !important;
}

.mat-fab.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent {
    color: #848484 !important;
}