<ul class="collection">
    <li class="collection-item bold">Merlim life</li>
    <li class="collection-item nopadding" style="height:290px"><img style="height:100%" class="full-width" src="https://merlim-static.s3.amazonaws.com/static-images/life.jpg" /></li>
</ul>
<div class="width-total">

</div>