<form (ngSubmit)="sendContact()">
    <ul class="content-contact collection with-header ">
        <div class=" collection-item bold">
            {{"Profile.profile-components.contact" | translate}}
        </div>
        <li class="row display-flex collection-item">
            <div class="col l4 m12 s12  not-m-p">
                <div class="element-center center">
                    <div class="icon">
                        <img src="https://merlim-static.s3.amazonaws.com/mb30rr/profile/profile_web.png" />
                    </div>
                    <div class="www">
                        merlim.network/merlim9
                    </div>
                    <div class="copy-url">
                        {{"Products.copy_code" | translate}}
                    </div>
                </div>
            </div>
            <div class="col l4 m12 s12  not-m-p">
                <div class="element-center center">
                    <div class="icon">
                        <img src="https://merlim-static.s3.amazonaws.com/mb30rr/profile/profile_skype.png" />
                    </div>
                    <div class="field_with_icon">
                        <md-input-container class="full-width">
                            <input mdInput class="full-width" [(ngModel)]="user.skype" name="skype">
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div class="col l4 m12 s12 not-m-p">
                <div class="element-center center">
                    <div class="icon">
                        <img src="https://merlim-static.s3.amazonaws.com/mb30rr/profile/profile_call.png" />
                    </div>
                    <div class="field_with_icon">
                        <md-input-container class="full-width">
                            <input mdInput class="full-width" [(ngModel)]="user.whatsapp" name="whatsapp">
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div class="col l12 s12 m12 not-m-p">
                <div class="row">
                    <div class="input-field col l12 s12 m12 flex-center">
                        <div class="">
                            <button type="submit" class="mat-raised-button btn waves-effect waves-light pink darken-3 white-text">{{ "General.save" | translate}} </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</form>