<div class="content-m collection not-p">
    <div class="collection-item">
        Video Destacado
    </div>
    <div class="collection-item not-p">
        <div class="video video-container">
            <iframe id="iframe" class="embed-responsive-item" src="https://www.youtube.com/embed/X62ftccn9tY" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>