<form class="row nomargin" (ngSubmit)="OnSubmit()" #recoverPassword="ngForm">
    <div class="col s12 mb-0">
        <div class="field_with_icon captcha-size">
            <i class="material-icons prefix-icon">lock</i>
            <md-input-container class="full-width">
                <input mdInput type="password" id="npassword" name="npassword" [(ngModel)]="input.password" placeholder="{{'RecoverPassword.new_password' | translate}}" #npassword="ngModel" onPaste="return false;" required>
            </md-input-container>
        </div>
    </div>
    <div class="col s12 nomargin">
        <div class="field_with_icon captcha-size">
            <i class="material-icons prefix-icon">lock</i>
            <md-input-container class="full-width">
                <input mdInput type="password" id="opassword" name="opassword" [(ngModel)]="input.confirm_password" placeholder="{{'RecoverPassword.repeat_password' | translate}}" #opassword="ngModel" onPaste="return false;" required>
            </md-input-container>
        </div>
    </div>
    <div class="col s12 flex-center">
        <re-captcha name="captcha" [(ngModel)]="input.captcha" required siteKey="6Ld_BBsUAAAAAJy1JCc7XWRQqESzar5Dkn8Rxt9W"></re-captcha>
    </div>
    <div class="col s12 center-align">
        <button type="submit" class="btn pink darken-3 bold">
            {{"RecoverPassword.change_password" | translate}}
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
        </button>
    </div>
</form>
