<div class="collection">
    <div class="collection-item">
        <img src="https://merlim-static.s3.amazonaws.com/static-images/ranges/Ranges-icons/Diamante.png" [@slider]="state1" />
        <img src="https://merlim-static.s3.amazonaws.com/static-images/ranges/Ranges-icons/Platino.png" [@slider]="state2" />
    </div>
    <button (click)="slider()" type="">slider</button>
</div>