<form class="row nomargin" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="col s12">
        <div class="field_with_icon captcha-size">
            <i class="material-icons prefix-icon" [ngClass]="{'active': icon.user}">person</i>
            <md-input-container class="captcha-size">
                <input mdInput id="username" type="text" name="user" (focus)="activateIcon('user')" (blur)="deactivateIcon('user')" [(ngModel)]="user.username" placeholder="{{'Register.username' | translate}}" pattern="(.){6,20}" required>
            </md-input-container>
        </div>
    </div>
    <div class="col s12 nomargin">
        <div class="field_with_icon captcha-size" style="margin-top: -12px">
            <i class="material-icons prefix-icon" [ngClass]="{'active': icon.password}">lock</i>
            <md-input-container class="captcha-size">
                <input mdInput id="password" type="password" name="password" (focus)="activateIcon('password')" (blur)="deactivateIcon('password')" [(ngModel)]="user.password" placeholder="{{'Register.password' | translate}}" pattern="[\w+'!#$%&*+-.=?^_{|}~]{10,}" required>
            </md-input-container>
        </div>
        <div class="center-align">
            <a href="/recover-password" class="pink-text text-darken-3 bold">{{ 'Login.lost_password' | translate }}</a>
        </div>
    </div>
    <div class="col s12 flex-center">
        <re-captcha name="captcha " [(ngModel)]="user.captcha " required siteKey="6Ld_BBsUAAAAAJy1JCc7XWRQqESzar5Dkn8Rxt9W "></re-captcha>
    </div>

    <div class="input-field col s12 flex-center ">
        <button type="submit " md-raised-button class="btn waves-effect waves-light pink darken-3 white-text " [disabled]="!loginForm.form.valid "><b>{{"General.enter" | translate}}</b></button>
    </div>
</form>
