<form>
    <div class="row-flex">
        <div class="avatar" *ngFor="let avatar of avatars">
            <div class="middle">
                <input id="a{{avatar}}" type="radio" class="radio" [(ngModel)]="model_avatar" value="{{avatar}}" name="avatar" />
                <label for="a{{avatar}}"><img class="av" src="https://dz04nrj2p7z7c.cloudfront.net/sources/members/imagenes/avatars/AVATAR{{avatar}}.png"/></label>
            </div>
        </div>
    </div>
    <hr>
    <div class="content-buttons flex">
        <div class="">
            <input type="file" id="file" class="none" (change)="SendImgProfile($event)" />
            <label for="file"><div
            class=" mat-raised-button file btn waves-effect waves-light back-white  border-back  back-text border-blu">{{"Profile.upload-img" | translate}}</div></label>
        </div>
        <div class="mat-raised-button btn waves-effect waves-light back-white  border-back  back-text border-blu" (click)="VerMas()">{{"Profile.see-more" | translate}}</div>
        <div class="mat-raised-button btn waves-effect waves-light pink darken-3 white-text" (click)="sendImg()">{{"Profile.choose" | translate}}</div>
    </div>
</form>