<form class="row nomargin" (ngSubmit)="OnSubmit()" #ValidateEmailForm="ngForm">
    <div class="col s12 mb-0" *ngIf="isr">
        <div class="field_with_icon captcha-size">
            <i class="material-icons prefix-icon">email</i>
            <md-input-container class="full-width">
                <input mdInput type="text" id="InputSponsor" name="sponsor" [(ngModel)]="input.sponsor" placeholder="{{'Register.sponsor' | translate}}" #input_sponsor="ngModel" [readonly]="!ise" onPaste="return false;" required>
            </md-input-container>
        </div>
    </div>
    <div class="col s12" *ngIf="iur" [ngClass]="{'nomargin': isr}">
        <div class="field_with_icon captcha-size">
            <i class="material-icons prefix-icon">person</i>
            <md-input-container class="captcha-size">
                <input mdInput type="email" id="InputUser" name="username" [(ngModel)]="input.username" placeholder="{{'Register.username' | translate}}" #input_username="ngModel" onPaste="return false;" pattern="[a-z0-9!#$%&'*+-./=?^_]{6,}" required>
            </md-input-container>
        </div>
    </div>
    <div class="col s12" *ngIf="ibr" [ngClass]="{'nomargin': iur || isr}">
        <div class="field_with_icon captcha-size">
            <i class="material-icons prefix-icon">perm_contact_calendar</i>
            <md-input-container class="captcha-size">
                <input mdInput type="email" id="InputBirthDate" name="birth_date" [(ngModel)]="input.birth_date" placeholder="{{'Register.birthdate' | translate}}: (MM/DD/YYYY)" #input_birth_date="ngModel" onPaste="return false;" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" required>
            </md-input-container>
        </div>
    </div>
    <div class="col s12" [ngClass]="{'nomargin': isr || iur || ibr}">
        <div class="field_with_icon captcha-size">
            <i class="material-icons prefix-icon">email</i>
            <md-input-container class="captcha-size">
                <input mdInput type="email" id="InputEmail1" name="email1" [(ngModel)]="input.email" placeholder="{{'Register.email' | translate}}" #input_email1="ngModel" onPaste="return false;" pattern="[a-z0-9!#$%&'*+-./=?^_]+[@]{1}[a-z0-9]+[.]{1}[a-z0-9]+" required>
            </md-input-container>
        </div>
    </div>
    <div class="col s12 nomargin">
        <div class="margin-help-text-bottom center-align" style="margin-top: -12px; margin-bottom: 12px;">
            <small id="emailHelp" class="form-text text-muted">{{ "Register.help_message_email" | translate }}</small>
        </div>
    </div>
    <div class="col s12 nomargin">
        <div class="field_with_icon captcha-size">
            <i class="material-icons prefix-icon">email</i>
            <md-input-container class="captcha-size">
                <input mdInput type="email" id="InputEmail2" name="email2" [(ngModel)]="email" placeholder="{{'Register.comfirm_email' | translate}}" #input_email2="ngModel" onPaste="return false;" pattern="[a-z0-9!#$%&'*+-./=?^_]+[@]{1}[a-z0-9]+[.]{1}[a-z0-9]+" required>
            </md-input-container>
        </div>
    </div>
    <div class="col s12 flex-center">
        <re-captcha name="captcha" [(ngModel)]="input.captcha" required siteKey="6Ld_BBsUAAAAAJy1JCc7XWRQqESzar5Dkn8Rxt9W"></re-captcha>
    </div>

    <div class="input-field col s12 center-align">
        <button type="submit" md-raised-button class="btn pink darken-3 white-text" [disabled]="!ValidateEmailForm.form.valid">
            {{ "General.send" | translate }}
        </button>
    </div>
</form>
