<div class="row panel">
    <div class=" offset-l2 col l8 m12 s12">
        <div class="collection bold">
            <div class=" collection-item" >
                <div class="row">
                    <div class="col l12 s12 m12">
                        <div class="title bold">
                            Cambio de Contraseña
                        </div>
                    </div>
                    <div class="col s12 m12 l12">
                        <app-forms-change-password [input]="input" (change_password)="sendUpdatePassword($event)" (errors)="ErrorPassword($event)"></app-forms-change-password>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>