<div class="row">
    <div class="col s12 l4">
        <img src="http://merlim-static.s3.amazonaws.com/backoffice3-assets/img/register/registro-06.png" *ngIf="user.plan == 1" (click)="select(1)" style="width: 100%" alt="pakage">
        <img src="http://merlim-static.s3.amazonaws.com/backoffice3-assets/img/register/registro-07.png" *ngIf="user.plan == 2" (click)="select(2)" style="width: 100%" alt="pakage">
        <img src="http://merlim-static.s3.amazonaws.com/backoffice3-assets/img/register/registro-08.png" *ngIf="user.plan == 3" (click)="select(3)" style="width: 100%" alt="pakage">
    </div>
    <div class="col s12 l8">
        <div class="row">
            <div class="col s12 l6 ">
                <div><label>{{ "Register.sponsor" | translate }}</label><br>{{ user.sponsor }}</div>
            </div>
            <div class="col s12 l6 not-p">
                <div><label>{{ "Register.email" | translate }}</label><br>{{ user.email }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6 not-m">
                <div><label>{{ "Register.username" | translate }}</label><br>{{ user.username }}</div>
            </div>
            <div class="col s12 l6 not-m-p">
                <div>
                    <label>{{ "Register.type_document" | translate }}</label><br> {{ 'Register.'+(user.document_type == cc ? 'option_1' : user.document_type == cpf ? 'option_2' : user.document_type == id ? 'option_3' : user.document_type ==
                    pa ? 'option_4' : 'option_5') | translate }}{{ user.document_number }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6 not-m">
                <div><label>{{ "Register.country" | translate }}</label><br>{{ user.country.country_master_name }}</div>
            </div>
            <div class="col s12 l6 not-m-p">
                <div><label>{{ "Register.first_name" | translate }}</label><br>{{ user.firstname }} {{ user.lastname }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6 not-m">
                <div><label>{{ "Register.birthdate" | translate }}</label><br>{{ user.birth_date }}</div>
            </div>
            <div class="col s12 l6 not-m-p">
                <div>
                    <label>{{ "Register.pakage" | translate }}</label><br>{{ user.plan == 1 ? 'PAQUETE PREMIUM' : user.plan == 2 ? 'PAQUETE GOLD' : 'PAQUETE PLATINUM' }}
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col s12">
                <label>{{ 'Register.contract_label' | translate }}</label>
                <iframe src="https://merlim-static.s3.amazonaws.com/backoffice3-assets/extra/contrato_es.htm" class="full-width" height="100"></iframe>
            </div>
            <div class="col s12 not-m">
                <md-checkbox class="example-margin" name="terms_and_conditions" [(ngModel)]="check1">{{ 'Register.contract' | translate }}</md-checkbox>
            </div>
            <div class="col s12 " style="margin-top: 5px;">
                <md-checkbox class="example-margin" name="refund_Policy" [(ngModel)]="check2">{{ 'Register.refund_policy.part_1' | translate }} <a href="https://dz04nrj2p7z7c.cloudfront.net/doc/merlimnetwork_refund_policy2_es.pdf" target="_blank">{{ 'Register.refund_policy.part_2' | translate }}</a></md-checkbox>
            </div>
            <div class="col s12">
                <div class="form-group box-center">
                    <re-captcha name="captcha" [(ngModel)]="user.captcha" required siteKey="6Ld_BBsUAAAAAJy1JCc7XWRQqESzar5Dkn8Rxt9W"></re-captcha>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col s12 m6">
                <button type="button" md-raised-button class="btn pink darken-3 white-text" (click)="back()"><< {{ "General.back" | translate }}</button>
            </div>
            <div class="col s12 m6 left-align">
                <button type="button" md-raised-button class="btn pink darken-3 white-text" (click)="send()" *ngIf="user.captcha != '' && check1 && check2">{{ "General.next" | translate }}</button>
            </div>
        </div>
    </div>
</div>
