<div class="row">
    <div class="col s12 l4 ml-0 mr-0 nopadding">
        <img src="http://merlim-static.s3.amazonaws.com/backoffice3-assets/img/register/registro-03.png" (click)="select(1)" style="width: 100%; cursor: pointer;" alt="pakage">
    </div>
    <div class="col s12 l4 ml-0 mr-0 nopadding">
        <img src="http://merlim-static.s3.amazonaws.com/backoffice3-assets/img/register/registro-04.png" (click)="select(2)" style="width: 100%; cursor: pointer;" alt="pakage">
    </div>
    <div class="col s12 l4 ml-0 mr-0 nopadding">
        <img src="http://merlim-static.s3.amazonaws.com/backoffice3-assets/img/register/registro-05.png" (click)="select(3)" style="width: 100%; cursor: pointer;" alt="pakage">
    </div>
</div>
<div class="row">
    <div class="col s6 left-align">
        <button type="button" (click)="ant()" class="btn pink darken-3 white-text"><< {{ "General.back" | translate }}</button>
    </div>
</div>
