<form (ngSubmit)="next()" #StepOne="ngForm">
    <div class="row">
        <div class="col s12 mb-0">
            <div class="field_with_icon captcha-size">
                <i class="material-icons prefix-icon">person</i>
                <md-input-container class="full-width">
                    <input mdInput
                    type="text" id="sponsor" name="sponsor" [ngModel]="user.sponsor"
                    placeholder="{{'Register.sponsor' | translate}}" #sponsor="ngModel" readonly>
                </md-input-container>
            </div>
        </div>
        <div class="col s12 nomargin">
            <div class="field_with_icon captcha-size">
                <i class="material-icons prefix-icon">perm_identity</i>
                <md-input-container class="full-width">
                    <input mdInput
                    type="text" name="user_name" id="user_name" class="validate" #username="ngModel" placeholder="{{ 'Register.username' | translate }}"
                    (keypress)="input_type.userName($event)" [(ngModel)]="user.username" minlength="6" required>
                </md-input-container>
            </div>
        </div>
        <div class="col s12 nomargin">
            <div class="field_with_icon captcha-size">
                <i class="material-icons prefix-icon">lock</i>
                <md-input-container class="full-width">
                    <span mdTooltip="{{ 'Register.tooltip_password' | translate }}">
                        <input mdInput
                        type="password" id="password" name="password" #password1="ngModel" [(ngModel)]="user.password"
                        placeholder="{{'Register.password' | translate}}" (ngModelChange)="CheckPass()" minlength="10" required>
                    </span>
                </md-input-container>
            </div>
            <div id="strength-indicator-captcha-size">
                <div
                id="bad"
                class="radius-left"
                [ngClass]="{
                    'radius-right': level_password == -1,
                    'black': level_password == -1,
                    'red accent-4': level_password == 0,
                    'yellow accent-4': level_password == 1,
                    'green accent-4': level_password == 2
                }"
                [hidden]="user.password.length == 0">
                </div>
                <div
                id="low"
                [ngClass]="{
                    'radius-right': level_password == 0,
                    'red accent-4': level_password == 0,
                    'yellow accent-4': level_password == 1,
                    'green accent-4': level_password == 2
                }"
                [hidden]="level_password < 0">
                </div>
                <div
                id="medium"
                [ngClass]="{
                    'radius-right': level_password == 1,
                    'yellow accent-4': level_password == 1,
                    'green accent-4': level_password == 2
                }"
                [hidden]="level_password < 1">
                </div>
                <div
                id="higth"
                [ngClass]="{
                    'radius-right': level_password == 2,
                    'green accent-4': level_password == 2
                }"
                [hidden]="level_password < 2">
                </div>
            </div>
            <div class="captcha-size" style="margin-top: -8px; margin-bottom: 8px; margin-left: auto; margin-right: auto;">
                {{ 'Register.strength_indicator' | translate }}: {{ 'Register.'+((level_password == 0) ? 'low': (level_password == 1) ? 'medium' : (level_password == 2) ? 'height' : 'invalid') | translate }}
            </div>
        </div>
        <div class="col s12 nomargin">
            <div class="field_with_icon captcha-size">
                <i class="material-icons prefix-icon">lock</i>
                <md-input-container class="full-width">
                    <input mdInput
                    type="password" id="password2" name="password2" #password2="ngModel" placeholder="{{ 'Register.confirm_password' | translate }}"
                    [(ngModel)]="user.confirm_password" onPaste="return false;" minlength="10" required>
                </md-input-container>
            </div>
        </div>
        <div class="col s12 nomargin">
            <div class="field_with_icon captcha-size">
                <i class="material-icons prefix-icon">email</i>
                <md-input-container class="full-width">
                    <input mdInput
                    type="email" name="email" id="email" [ngModel]="user.email"
                    placeholder="{{'Register.email' | translate}}" #email="ngModel" readonly>
                </md-input-container>
            </div>
        </div>
        <div class="col s12 nomargin flex-center">
            <div class="captcha-size">
                <label>{{ 'Register.terms_and_conditions' | translate }}</label>
                <iframe src="https://es.merlim.network/terms-and-conditions-of-use-backoffice" height="120"></iframe>
            </div>
        </div>
        <div class="col s12 nomargin flex-center">
            <md-checkbox class="example-margin captcha-size" name="terms_and_conditions" [(ngModel)]="check1">{{ 'Register.terms_and_conditions_content.part_1' | translate }} <a href="https://dz04nrj2p7z7c.cloudfront.net/doc/contract_es.pdf" target="_blank">{{ 'Register.terms_and_conditions_content.part_2' | translate }}</a>.</md-checkbox>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <button type="submit" class="btn pink darken-3 white-text" [disabled]="!StepOne.form.valid">{{ "General.next" | translate }} >></button>
        </div>
    </div>
</form>
