<form (ngSubmit)="next()" #StepTwo="ngForm">
    <div class="row">
        <div class="col s12 m6 mb-0">
            <div class="field_with_icon">
                <!-- <i class="material-icons prefix-icon">person</i> -->
                <md-input-container class="full-width">
                    <input mdInput
                        type="text" name="name" id="name" [(ngModel)]="user.firstname"
                        placeholder="{{'Register.first_name' | translate}}" (keypress)="custom_input_type.Name($event)" required>
                </md-input-container>
            </div>
        </div>
        <div class="col s12 m6 mb-0">
            <div class="field_with_icon">
                <!-- <i class="material-icons prefix-icon">perm_identity</i> -->
                <md-input-container class="full-width">
                    <input mdInput
                    type="text" name="lastname" id="lastname" [(ngModel)]="user.lastname"
                    placeholder="{{'Register.last_name' | translate}}" (keypress)="custom_input_type.Name($event)" required>
                </md-input-container>
            </div>
        </div>
        <div class="col s12 m6 nomargin" style="padding-top: 18px;">
                <md-select placeholder="{{ 'Register.country' | translate }}" class="full-width" name="country" [(ngModel)]="user.country">
                    <md-option *ngFor="let element of model_countries" [value]="element">{{ element.country_master_name }}</md-option>
                </md-select>
        </div>
        <div class="col s12 m6 nomargin">
            <md-input-container class="full-width">
                <span mdTooltip="MM/DD/AAAA" mdTooltipClass="tooltip-custom-1" mdTooltipPosition="right" mdTooltipHideDelay="3000">
                    <input mdInput
                        type="text" name="birth_date" id="birth_date" [(ngModel)]="user.birth_date"
                        placeholder="{{'Register.birthdate' | translate}}" pattern="[\d]{2}/[\d]{2}/[\d]{4}"
                        (keypress)="dateFormat($event)" (blur)="dateFormatEnd($event)" required>
                </span>
            </md-input-container>
        </div>
        <div class="col s12 m6 nomargin" style="padding-top: 18px;">
            <md-select placeholder="{{ 'Register.type_document' | translate }}" class="full-width" name="type_document" [(ngModel)]="user.document_type">
                <md-option value="cc">{{ 'Register.type_document_content.option_1' | translate }}</md-option>
                <md-option value="cpf">{{ 'Register.type_document_content.option_2' | translate }}</md-option>
                <md-option value="id">{{ 'Register.type_document_content.option_3' | translate }}</md-option>
                <md-option value="pa">{{ 'Register.type_document_content.option_4' | translate }}</md-option>
                <md-option value="nit">{{ 'Register.type_document_content.option_5' | translate }}</md-option>
            </md-select>
        </div>
        <div class="col s12 m6 nomargin">
            <md-input-container class="full-width">
                <input mdInput
                    type="text" name="n_doc" id="n_doc" [(ngModel)]="user.document_number"
                    placeholder="{{'Register.number_document' | translate}}" (keypress)="custom_input_type.IdNumber($event)" required>
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col s6 left-align">
            <button type="button" md-raised-button class="btn pink darken-3 white-text" (click)="back()"><< {{ "General.back" | translate }}</button>
        </div>
        <div class="col s6 right-align">
            <button type="submit" md-raised-button class="btn pink darken-3 white-text" [disabled]="!StepTwo.form.valid">{{ "General.next" | translate }} >></button>
        </div>
    </div>
</form>
