<div class="container-fluid">
    <div class="row">
        <div class="col-11">
            <h3>
                {{"Products.title" | translate}}
            </h3>
        </div>
        <div class="col-1">
            <button class="btn btn-block btn-default">bottom</button>
        </div>
    </div>
    <hr>
</div>