<form #aretoForm="ngForm">
  <div class="row mb-0">
    <div class="col s12 mb-0 mt-0">
      <div class="field_with_icon">
        <md-input-container [ngClass]="{'ng-invalid mat-input-invalid': !isValidNumber}" class="full-width">
          <input mdInput type="text" name="card_number" [(ngModel)]="areto.card_number" (keypress)="formatCardNumber($event)" class="" placeholder="Your card number" [(ngModel)]="errorMessage" required/>
        </md-input-container>
        <i class="material-icons prefix-icon">credit_card</i>
      </div>
    </div>
  </div>
  <div class="row mb-0">
    <div class="col s6 mb-0 mt-0">
      <div class="field_with_icon">
        <md-input-container [ngClass]="{'ng-invalid mat-input-invalid': !isValidDate}" class="full-width">
          <input mdInput type="text" name="expiration_date" [(ngModel)]="areto.expiration_date" (keypress)="formatCardDate($event)" class="" placeholder="MM/YYYY" [(ngModel)]="errorMessage" required/>
        </md-input-container>
        <i class="material-icons prefix-icon">date_range</i>
      </div>
    </div>
    <div class="col s6 mb-0 mt-0">
      <div class="field_with_icon">
        <md-input-container [ngClass]="{'ng-invalid mat-input-invalid': !isValidCvc}" class="full-width">
          <input mdInput type="text" name="cvc_code" [(ngModel)]="areto.cvc_code" (keypress)="formatCardCvc($event)" class="" placeholder="123" [(ngModel)]="errorMessage" required/>
        </md-input-container>
        <i class="material-icons prefix-icon">call_to_action</i>
      </div>
    </div>
  </div>
  <div class="row mb-0">
    <div class="col s12 mb-0 mt-0">
      <div class="field_with_icon">
        <md-input-container [ngClass]="{'ng-invalid mat-input-invalid': !isValidName}" class="full-width">
          <input mdInput type="text" name="titular" [(ngModel)]="areto.titular" class="" placeholder="Name on card" [(ngModel)]="errorMessage" required/>
        </md-input-container>
        <i class="material-icons prefix-icon">account_circle</i>
      </div>
    </div>
  </div>
  <!-- City and street -->
  <div class="row mb-0">
    <div class="col s6 mb-0 mt-0">
      <div class="field_with_icon">
        <md-input-container [ngClass]="{'ng-invalid mat-input-invalid': !isValidName}" class="full-width">
          <input mdInput type="text" name="city" [(ngModel)]="areto.city" class="" placeholder="City" [(ngModel)]="errorMessage" required/>
        </md-input-container>
        <i class="material-icons prefix-icon">location_city</i>
      </div>
    </div>
    <div class="col s6 mb-0 mt-0">
      <div class="field_with_icon">
        <md-input-container [ngClass]="{'ng-invalid mat-input-invalid': !isValidName}" class="full-width">
          <input mdInput type="text" name="street" [(ngModel)]="areto.street" class="" placeholder="Address" [(ngModel)]="errorMessage" required/>
        </md-input-container>
        <i class="material-icons prefix-icon">person_pin_circle</i>
      </div>
    </div>
  </div>
  <!-- -->
  <div class="row mb-0">
    <div class="col s12 mb-0 mt-0">
      <div class="field_with_icon">
        <md-input-container [ngClass]="{'ng-invalid mat-input-invalid': !isValidPostal}" class="full-width">
          <input mdInput type="text" #postal_code name="postal_code" maxlength="6" [(ngModel)]="areto.postal_code" class="" placeholder="Zip Code" [(ngModel)]="errorMessage" required/>
        </md-input-container>
        <i class="material-icons prefix-icon">location_on</i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 mb-0 mt-0">
      <div id="terms" [ngClass]="{'has-danger': !iAgree}">
        <md-checkbox color="primary" id="terms" name="terms_and_conditions" [(ngModel)]="checked" required>
          I have read and agree to the <a href="#">Terms & Conditions</a>, <a href="#">Refund Policy</a> and <a href="#">Personal Data Privacy Policy</a>
        </md-checkbox>
      </div>
    </div>
  </div>
  <div class="row mb-0">
    <div class="col s12 mb-0 mt-0">
      <button type="button" md-raised-button color="primary" class="full-width color-white green" [disabled]="!aretoForm.form.valid" (click)="emitInputs()">
                PURCHASE
            </button>
    </div>
  </div>
</form>
