.mb-0{
	margin-bottom: 0px;
}
.mt-0{
    margin-top: 0px;
}
.field_with_icon{
    position: relative;
    padding-left: 2.5rem;
}

.prefix-icon{
    position: absolute;
    top: 10px;
    left: 0;
    color: rgba(0, 0, 0, 0.54);
    font-size: 2rem;
}
.color-white{
	color: #ffffff;
}