<div class="row">
    <div class="flex-center">
        <div class="col l4 m10 s12">
            <ul class="collection with-header border-r15" id="content-form" style="min-width:400px">
                <li class="collection-header white-text pink darken-3 center-align">
                    <h5>{{ "Paid.epin.title" | translate }}</h5>
                </li>
                <li class="collection-item">
                    <app-form-epin (epin_event)="Send($event)"></app-form-epin>
                </li>
            </ul>
        </div>
    </div>
</div>