<div class="container-fluid">
    <div class="row">
        <div class="col l11 m12 s12">
            <h3>
                {{ "MerlinLife.title" | translate }}
            </h3>
        </div>
        <div class="col l1">
            <button class="btn btn-block btn-default">bottom</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col l4 m12 s12">
            <div class="row">
                <div class="col 12 s12 m12">
                    <app-featured-videos></app-featured-videos>
                </div>
                <div class="col l12 m12 s12">
                    <app-comments></app-comments>
                </div>
            </div>
        </div>
        <div class="col l8 m12 s12">
            <div class="row">
                <div class="col l6 m12 s12">
                    <app-customize-site></app-customize-site>
                </div>
                <div class="col l6 m12 s12">
                    <app-affiliate-recognition></app-affiliate-recognition>
                </div>
                <div class="col l12 m12 s12">
                    <app-comunicated></app-comunicated>
                </div>
            </div>
        </div>
    </div>
</div>