<div class="collection with-header not-p">
    <div class="collection-item not-m-p padding-b-20">
        <div class="general-header collection with-header not-m" style="margin-bottom:30px !important;overflow:inherit;
         background-image: url('https://merlim-static.s3.amazonaws.com/static-images/ranges/Ranges-back/background.jpg'); background-size: cover;">
            <div class="name back-text bold">
                <div class="back-text bold font-size-1-2">
                    {{user.firstname}} {{user.lastname }}
                </div>
                <div class="back-text bold font-size-0-9">
                    {{user.range_description}}
                </div>
            </div>
            <div class="flex-center">
                <div class="avatar-dg">
                    <img src="{{ 'https://dz04nrj2p7z7c.cloudfront.net/sources/members/' + user.avatar }}" class="full-width border-back1" />
                </div>
            </div>
            <div class="rango">
                <img src="{{ 'http://merlim-static.s3.amazonaws.com/static-images/ranges/Ranges-icons/' + user.range_description + '.png' }}" />
            </div>
        </div>
        <div id="profile-data" class="table-data ">
            <table class="table-center bordered font-size-0-9">
                <tbody>
                    <tr>
                        <td class="text-bold back-text">{{"Profile.username" | translate}}</td>
                        <td class="text-right">{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td class="text-bold back-text">{{"Profile.afiliate-code" | translate}}</td>
                        <td class="text-right">{{ user.afiliate_code }}</td>
                    </tr>
                    <tr>
                        <td class="text-bold back-text">{{"Profile.first-name" | translate}}</td>
                        <td class="text-right">{{ user.firstname }}</td>
                    </tr>
                    <tr>
                        <td class="text-bold back-text">{{"Profile.last-name" | translate}}</td>
                        <td class="text-right">{{ user.lastname }}</td>
                    </tr>
                    <tr>
                        <td class="text-bold back-text">{{"Profile.whatsapp" | translate}}</td>
                        <td class="text-right">{{ user.whatsapp }}</td>
                    </tr>
                    <tr>
                        <td class="text-bold back-text">{{"Profile.skype" | translate}}</td>
                        <td class="text-right">{{ user.skype }}</td>
                    </tr>
                    <tr>
                        <td class="text-bold back-text">{{"Profile.address" | translate}}</td>
                        <td class="text-right">{{ user.address }}</td>
                    </tr>
                    <tr>
                        <td class="text-bold back-text">{{"Profile.phone-number" | translate}}</td>
                        <td class="text-right">{{ user.phone }}</td>
                    </tr>
                    <tr>
                        <td class="text-bold back-text">{{"Profile.city" | translate}}</td>
                        <td class="text-right">{{ user.city }}</td>
                    </tr>
                    <tr>
                        <td class="text-bold back-text">{{"Profile.country" | translate}}</td>
                        <td class="text-right">{{ user.country }}</td>
                    </tr>
                    <tr>
                        <td class="text-bold back-text">{{"Profile.email" | translate}}</td>
                        <td class="text-right">{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td class="text-bold back-text">{{"Profile.upgrade-gold" | translate}}</td>
                        <td class="text-right">N/A</td>
                    </tr>
                    <tr>
                        <td class="text-bold back-text">{{"Profile.upgrade-platinum" | translate}}</td>
                        <td class="text-right">N/A</td>
                    </tr>
                    <tr>
                        <td class="text-bold back-text">{{"Profile.afiliate-date" | translate}}</td>
                        <td class="text-right">{{ user.afiliate_date }}</td>
                    </tr>
                    <tr>
                        <td class="text-bold back-text">{{"Profile.afiliation-due-date" | translate}}</td>
                        <td class="text-right">{{ user.datelimit }}</td>
                    </tr>
                    <tr>
                        <td class="text-bold back-text">{{"Profile.direction-afiliates" | translate}}</td>
                        <td class="text-right">5</td>
                    </tr>
                </tbody>
            </table>
            <div class="button">
                <div (click)="openDialog()" class=" center-align center white-text pink darken-3 update-data ">
                    {{"Profile.update-data" | translate}}
                </div>
                <div class=" width-total pack row ">
                    <div class="width-total ">
                        <img class="width-total " src="https://dz04nrj2p7z7c.cloudfront.net/static-images/paquete-10.png " />
                    </div>
                </div>
                <div class="center-align  back-text text-bold center update-pack border-back">
                    {{"Profile.upgrade-pack" | translate}}
                </div>
            </div>
        </div>
    </div>
</div>