.logo {
    display: block;
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
}

.box-checkout {
    width: 100%;
    max-width: 800px;
    height: 730px;
    margin: 0 auto;
    background-color: #dddfe6;
    border-radius: 12px;

    -webkit-box-shadow: 0 15px 24px rgba(37, 44, 65, 0.16);
    -moz-box-shadow: 0 15px 24px rgba(37, 44, 65, 0.16);
    box-shadow: 0 15px 24px rgba(37, 44, 65, 0.16);
}

.buy-order {
    border-radius: 12px 0 0 12px;
    width: 100%;
    max-width: 300px;
    height: 730px;
    padding: 0px 30px 0px 30px;
    /*float: left;*/
    background-color: #f4f5f9;
    z-index: 1;
    /*-webkit-box-shadow: 0 15px 24px rgba(37, 44, 65, 0.16);
    -moz-box-shadow: 0 15px 24px rgba(37, 44, 65, 0.16);
    box-shadow: 0 15px 24px rgba(37, 44, 65, 0.16);*/
}
.mt-0{
    margin-top: 0px;
}
.hh1, .hh2, .hh3, .hh4, .hh5, .hh6{
    font-weight: 400;
}
.hh2 {
    font-size: 28px;
    letter-spacing: -2px;
    color: #6d819c;
    text-align: center;
    line-height: 2.8;
}

.hh4 {
    font-size: 16px;
    color: #7495aa;
    letter-spacing: 1px;
    text-align: left;
    line-height: 2;
}

.hh5 {
    font-size: 11px;
    font-weight: 700;
    color: #a9b6bd;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
}

.hh6 {
    font-family: 'PT Mono';
    font-size: 16px;
    font-weight: 400;
    color: #f4f5f9;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    line-height: 1.69;
}
.logo-products {
    padding: 10px 0;
    border-bottom: 1px solid #e9ebf2
}

.space {
    padding-top: 50px;
}

.box-form {
    z-index: 0;
    width: 100%;
    max-width: 450px;
    position: relative;
    /*float: right;*/
}

.card-description {
    margin-bottom: 12px;
    color: #4C4C4C;
    font-size: 13px!important;
    text-align: center;
    font-weight: bold;
    margin-top: -22px;
}

.card {
    width: 300px;
    height: 178px;
    position: relative;
    margin: 0 auto;
    border-style: none;
    background-color: #f1404b;
    overflow: hidden;
    z-index: 1;
    background: url(https://merlim-static.s3.amazonaws.com/img/areto/card_demo.jpg)!important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 15px 24px rgba(37, 44, 65, 0.32);
    -moz-box-shadow: 0 15px 24px rgba(37, 44, 65, 0.32);
    box-shadow: 0 15px 24px rgba(37, 44, 65, 0.32);
}

.card-content {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    z-index: 1;
}

#card-cardnumber {
    position: absolute;
    bottom: 35px;
    left: 30px;
    color: #ffffff;
}

#card-cardexpiration {
    position: absolute;
    bottom: 8px;
    left: 70px;
    color: #ffffff;
}

#card-cardcvc {
    position: absolute;
    right: 38px;
    bottom: 35px;
    color: #ffffff;
}

#card-titular {
    position: absolute;
    top: 50px;
    right: 33px;
    color: #ffffff;
}

.content-form {
    width: 100%;
    position: relative;
    float: right;
    padding: 15px 20px;
}

#warning {
    margin-bottom: 8px;
}


/*Responsive breakpoints*/


/* Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575px) {
    .buy-order {
        display: none;
    }
}


/*Medium devices (tablets, 768px and up)*/

@media (max-width: 768px) {
    .buy-order {
        display: none;
    }
    .box-form {
        max-width: 100%;
    }
}


/*Large devices (desktops, 992px and up)*/

@media (max-width: 991px) {
    .buy-order {
        max-width: 268px;
    }
}
