<div>
    <div>
        <img src="https://merlim-static.s3.amazonaws.com/img/areto/logo-blanco.png" class="logo"/>
    </div>
</div>

<div class="box-checkout">
    <div class="row">
        <div class="col s5 mt-0">
            <div class="buy-order">
                <h2 class="hh2 mt-0">
                    Products
                </h2>
                <h5 class="hh5">
                    Reference Code: 
                    <span class="right"></span>
                </h5>
                <div class="logo-products">
                    <div class="row">
                        <div class="col m6">
                            <img src="https://merlim-static.s3.amazonaws.com/img/PG5yKOT.png">  
                        </div>
                        <div class="col m6">
                            <h5 class="hh5">
                                <span class="right">{{ areto.data.package_name }}</span>
                            </h5>  
                        </div>
                    </div>
                </div>
                <div class="purchase-summary">
                    <h4 class="hh4">
                        Price
                        <span class="right">${{ areto.data.package_cost }}</span>
                    </h4>
                    <h4 class="hh4">
                        System activation
                        <span class="right">${{ areto.data.system_activation }}</span>
                    </h4>
                    <h4 class="hh4">
                        Total
                        <span class="right"><span class="float-right">${{ areto.data.total_package }}</span></span>
                    </h4>
                </div>
            </div>
        </div><!-- Col-sm-5 -->
        <div class="col s7 mt-0">
            <div class="box-form">
                <div class="space"></div>
                <div class="card-description">Your credit card statement will read "ALW*merlimnetwork442036955307"</div>
                <div class="card">
                    <div class="card-content">
                        <h6 id="card-cardnumber">{{areto.card_number}}</h6>
                        <h6 id="card-cardexpiration">{{areto.expiration_date}}</h6>
                        <h6 id="card-cardcvc">{{areto.cvc_code}}</h6>
                        <h6 id="card-titular">{{areto.titular}}</h6>
                    </div>
                </div>
        
                <div class="content-form">
                    <div id="warning">
                        Remember that your card must be authorized by the issuing bank for online electronic transactions
                    </div>
                    <app-form-areto [areto]="areto" (areto_emit)="receiveparams($event)"></app-form-areto>
                </div>
            </div>
        </div><!-- Col-sm-8 -->
    </div><!-- Flex-row -->
</div>
