<div class="container-fluid">
    <div class="row nomargin">
        <div class='col l12 nomargin'>
            <div class="banner nomargin">
                 <img src="https://merlim-static.s3.amazonaws.com/static-images/banner.jpg"/>
            </div>
        </div>
        <div class="col l4 m12 s12" id="widget-profile">
            <app-widget-profile></app-widget-profile>
        </div>
        <div class="col l4 m12 s12">
            <app-widget-latest-affiliates></app-widget-latest-affiliates>

        </div>
        <div class="col l4 m12 s12">
            <app-widget-comissions></app-widget-comissions>
        </div>
    </div>
</div>
