/* GENERAL --------------------------------------------------------------------- */

.margin-top {
    margin-top: 10%;
}

.margin-bottom {
    margin-bottom: 15px;
}

.lang {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.custom-btn {
    border-radius: 15px;
    cursor: pointer;
}

.lang {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

@media screen and (max-height: 530px) {
    .lang {
        position: static;
        text-align: right;
        margin-top: 15px;
        margin-right: 15px;
    }
}


/*
 * contenido como tal --------------------------------------------------------------------------------------------------
 */

.body {
    padding-top: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.body .ptos,
.body .ptos small {
    height: 40px;
    line-height: 15px;
    font-weight: 600;
}

.body .ptos:first-child {
    border-right: solid 1px #d2d2d2;
}

.body .ptos:last-child {
    border-left: solid 1px #d2d2d2;
}

.fg-1 {
    flex-grow: 1;
}

.size-t {
    font-size: 1.2em;
}

.border {
    border: 1px solid #eee;
    height: 75px;
    padding-bottom: 80px;
}

.margin {
    margin: 10px auto 0 auto;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.footer>button {
    width: 120px;
}

.center-align h4,
div {
    vertical-align: middle;
}


/*.check {
    display: block;
    border: 0.8px solid #31373f;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    transition: border 0.25s linear;
}

.check::before {
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 100%;Ñ
    padding: 5px;
    margin: 2px;
    transition: background 0.25s linear;
}*/


/*input[type="radio"] {
    position: absolute;
    visibility: hidden !important;
}*/

h4 label {
    position: relative;
    z-index: 9;
    cursor: pointer;
    padding-bottom: 26px;
}


/*input[type=radio]:checked~.check::before {
    background: #ad1457;
}*/

#table-afiliates {
    font-size: 0.7em;
    padding: 0 12px;
}

.content {
    width: 100%;
}

.flag {
    width: 55%;
    margin: 0 auto;
    margin-left: 10px;
    vertical-align: middle;
    border: 1px solid #807373;
    max-width: 55px;
}

#table tbody tr td {
    padding: 5px 0;
}

.data-table-g {
    padding: 0;
    margin: 0;
    padding-bottom: 40px;
}

.content-pass {
    margin-top: 10px;
}

.content-options {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 20px;
}

.pass {
    width: 40%;
}

.contents-every {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.bto {
    padding: 0 10px;
    height: 25px;
    cursor: pointer;
    min-width: 62.5px;
}

a:link {
    text-decoration: none;
}

.auto {
    margin: 0 auto !important;
}

.content-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    width: 100%;
}

.content-document {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 10px;
}

.content-d {
    width: 40%;
}

.content-select {
    width: 100%;
    padding: 10px 0;
}

.content-icon {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.scan {
    font-size: 0.6em;
}

.content-button {
    width: 30%;
    height: 25px;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    overflow: hidden;
    color: #fff;
}

.border-light {
    border: 0.7px solid rgba(68, 133, 136, 0.26);
}

.general-header {
    position: relative;
    height: 100px;
    padding: 15px;
    background-color: #5d3d13;
    margin-bottom: 38px;
}

p {
    margin-bottom: 0;
}

.avatar {
    /*top: 50%;
    left: 50%;
    padding: 0;
    margin-left: -50px;
    margin-top: -15px;*/
}

.avatar img {
    width: 100px;
    height: 100px;
}

.rango {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0;
}

.rango img {
    width: 70px;
    height: 70px;
}

.name div:first-child {
    color: #fff;
    font-weight: bold;
    font-size: 0.8em
}

.name div:last-child {
    color: #fff;
    font-size: 0.8em;
}

.background {
    background-color: #567;
}

.table-data {
    width: 100%;
    margin: 0 auto;
}

.text-right {
    text-align: right;
}

.table-center {
    margin: 0 auto;
    padding: 0 10px;
    width: 90%;
    font-size: 0.7em;
}

.button-data {
    background: #aa274c;
    margin: 0 auto;
    color: #fff;
    margin-top: 20px;
    width: 100%;
    font-size: 0.8em;
}

.end-data {
    width: 100%;
    border: 1px solid #131e34;
    color: #131e34;
    overflow: hidden;
    margin-top: 10px;
    cursor: pointer;
}

.div-border {
    border: 2px solid #186513;
    margin-top: 2px;
    height: 36px;
}

.exponente {
    font-size: 10px;
    position: relative;
    right: -32px;
    top: -23px;
}

.pack {
    margin: 0 auto;
    max-width: 250px;
}

.content-contact {
    margin-bottom: 10px;
}

.icon {
    margin: 30px auto 10px auto;
    padding-bottom: 20px;
    width: 60px;
}

.icon img {
    width: 100%;
}

.round div {
    position: relative;
    top: 20%;
    text-align: center;
    color: #fff;
}

.post-right {
    height: 70px;
    line-height: 15px;
}

.row .col-4:first-child {
    border-right: 0.1em solid #eee;
}

.row .co {
    border-left: 0.1em solid #eee;
}

.col {
    margin: 10px auto;
    padding-bottom: 5px;
}

.www {
    border: 0.8px solid #c5bcbc;
    height: 25px;
    text-align: center;
    margin: 5px auto;
    color: #000;
    overflow: hidden;
}

.element-center {
    width: 80%;
}

.copy-url {
    border: 2px solid #131e34;
    text-align: center;
    margin: 5px auto;
    color: #131e34;
    overflow: hidden;
}

.save {
    margin: -4px auto 21px auto;
    width: 50%;
}

.finish-class {
    width: 50%;
    margin: 0 auto;
}

.banner {
    width: 100%;
    padding: 0 1px;
    margin-bottom: 20px;
}

.banner img {
    width: 100%;
    position: relative;
}

.result {
    font-size: 1.8em !important;
}

text .thead {
    color: #fff;
    font-size: 0.8em;
}

.blu {
    background: #0999B2;
}

.gren {
    background: #087782;
}

.nav {
    font-size: 0.8em;
    margin-bottom: 20px;
}

.nav span {
    color: #131e34 !important;
}

.li {
    display: flex;
    justify-content: space-around;
}

.first-option {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.options {
    padding-left: 20px;
}

.activo {
    border-top: 2px solid #0999B2;
}

.row2 {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 20px;
}

.content-bonos {
    margin: 0 auto;
    padding-top: 20px;
}

.text-bono {
    font-size: 0.9em;
}

.section {
    padding-bottom: 10px;
    width: 100%;
    margin: 0 auto;
    font-size: 75%;
    text-align: left;
}

.content-m {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 20px;
}

.activo {
    color: #131e34;
    font-size: 0.8em;
    border-top: 1.5px solid #0999B2;
}

.nav {
    margin-top: 5px !important;
}

.options {
    font-size: 0.8em;
}

.video {
    width: 100%;
}

.content-m {
    margin-top: 10px;
    padding-bottom: 15px;
}

.comments {
    padding-top: 10px;
    width: 100%;
    overflow: auto;
    height: 200px;
}

.cm {
    margin-left: 20px;
}

.comentar {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    margin-top: 10px;
}

.add {
    height: 25px;
    vertical-align: middle;
    cursor: pointer;
    color: #c7335c;
}

.white-text {
    color: #ffffff !important;
}

.back-text {
    color: #31373f !important;
}

.purple-text {
    color: #ad1457 !important
}

.width-total {
    width: 100%;
}

.center {
    margin: 0 auto !important;
}

.center p {
    -webkit-margin-before: 0;
}

.inline-block {
    display: inline-block;
}

.text-bold {
    font-weight: bold;
}

.height-100 {
    height: 100px
}

.height-40 {
    height: 41px;
}

.update-data {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    width: 80%;
    padding: 5px;
    cursor: pointer;
}

.update-pack {
    margin-top: 10px !important;
    width: 80%;
    padding: 5px;
    cursor: pointer;
}

.border-back {
    border: 2px solid #31373f !important;
}

.padding-b {
    padding-bottom: 34px;
}

.input-t {
    height: 25px;
}

.no-border {
    border: none;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.none {
    display: none;
}