#content-form {
    margin-left: auto;
    margin-right: auto;
}

#content-form.width-d1 {
    width: 400px;
    transition: width 1s;
}

#content-form.width-d2 {
    width: 800px;
    transition: width 1s;
}

.content-logo {
    margin-bottom: 50px;
}

.content-logo img {
    margin-right: 8px;
    width: 250px;
}

.content-shadow {
    box-shadow: 6px 5px 29px -8px rgba(0,0,0,0.42) !important;
}
