<div class="container">
    <div id="content-form" class="">
        <div class="content-logo flex-center">
            <img src="http://merlim-static.s3.amazonaws.com/backoffice3-assets/img/logo-backoffice3.png" alt="Logo merlim">
        </div>
        <router-outlet></router-outlet>
        <div class="lang center-align">
            <a (click)="langChange('es')" style="cursor: pointer">
                <img src="https://merlim-static.s3.amazonaws.com/backoffice3-assets/img/es_ES.png" height="40" alt="idioma español">
            </a>
            <a (click)="langChange('en')" style="cursor: pointer">
                <img src="https://merlim-static.s3.amazonaws.com/backoffice3-assets/img/en_US.png" height="40" alt="idioma ingles">
            </a>
        </div>
    </div>
</div>
