<ul class="collection with-header">
    <li class="collection-item bold">
        {{"Profile.profile-components.manage-passwords" | translate}}
    </li>

    <li class="row collection-item">
        <div class="col l12 m12 s12">
            <div class="contents-every">
                <div class="icon">
                    <i class="fa fa-lock fa-2x" aria-hidden="true"></i>
                </div>
                <span class="bold">{{"Profile.backoffice-password" | translate}}</span>
                <div class="row">
                    <div class="input-field col l12 s12 m12 flex-center">
                        <a md-raised-button class="btn waves-effect waves-light pink darken-3 white-text " routerLink="/backoffice/profile/change-password">
                          {{"Profile.change" | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l12 m12 s12" style="margin-top: 15px;">
            <div class="contents-every">
                <div class="icon">
                    <i class="fa fa-money fa-2x" aria-hidden="true"></i>
                </div>
                <span class="bold">{{"Profile.password-tra" | translate}}</span>
                <div class="row">
                    <div class="input-field col l12 s12 m12 flex-center">
                        <a md-raised-button class="btn waves-effect waves-light pink darken-3 white-text " routerLink="/backoffice/profile/change-password-trans">
                          {{"Profile.change" | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>