<ul class="collection with-header">
    <li class="collection-header bold">
        {{"Profile.profile-components.personalize-avatar" | translate}}
    </li>
    <li class="collection-item">
        <app-form-cuztomize-avatar></app-form-cuztomize-avatar>
    </li>
</ul>