<form (ngSubmit)="Send()" #ValidatePassword="ngForm">
    <div class="row">
        <div class="col l4 m12 s12">
            <md-input-container class="full-width">
                <input mdInput type="password" id="o" placeholder="Contraseña Anterior" name="oldPassword" class="full-width" [(ngModel)]="input.oldpassword" pattern="[\w+'!#$%&*+-.=?^_{|}~]{10,}" required>
            </md-input-container>
        </div>
        <div class="col l4 m12 s12">
            <md-input-container class="full-width">
                <input mdInput type="password" id="n" placeholder="Nueva Contraseña" name="newPassword" class="full-width" [(ngModel)]="input.newpassword" pattern="[\w+'!#$%&*+-.=?^_{|}~]{10,}" required>
            </md-input-container>
        </div>
        <div class="col l4 m12 s12">
            <md-input-container class="full-width">
                <input mdInput type="password" id="nv" placeholder="Confirmar Contraseña" name="confirmPassword" class="full-width" [(ngModel)]="comfirm_password" pattern="[\w+'!#$%&*+-.=?^_{|}~]{10,}" required>
            </md-input-container>
        </div>
    </div>
    <div class="row">
        <div class="col l12 s12 m12">
            <div class="flex-center captcha">
                <re-captcha name="captcha" required siteKey="6Ld_BBsUAAAAAJy1JCc7XWRQqESzar5Dkn8Rxt9W"></re-captcha>
            </div>
            <div class="input-field flex-center">
                <button type="submit" class="mat waves-effect waves-light white-text mat-raised-button btn pink darken-3 update" [disabled]="!ValidatePassword.form.valid">Actualizar</button>
            </div>
        </div>
    </div>

</form>