<ul class="collection with-header border-r15">
    <li class="collection-item pink darken-3 white-text">
        <h5 class="center-align">{{ "Register.title1" | translate }}</h5>
    </li>
    <li class="collection-item">
        <app-form-validate-email [input]="user" [ise]="input_sponsor_editable" [isr]="true" (validate_proccess)="OnSubmit($event)"></app-form-validate-email>
    </li>
</ul>
